[2017-09-07 03:47] tealeg opened #39 "It's Office Open XML not OpenOffice"
## Description
Your Readme describes this as a library for OpenOffice, but it's actually a library for Office Open XML.  Most people would associate "OpenOffice" with OpenOffice.org or it's fork, LibreOffice.  Both of those suites can read these files, but have a different native file format.

## Expected Behavior
It should say "Office Open XML"

## Actual Behavior
It says "OpenOffice"

[2017-09-07 10:45] tbaliance commented on #39
Ah, thanks, PR up.  I tend to make that mistake sometimes, Office Open doesn't roll off the tongue like Open Office.

[2017-09-07 10:55] #39 closed

[2017-09-07 10:55] tbaliance commented on #39
Merged.

[2017-09-09 15:06] joeblew99 opened #52 "User interface"
I was thinking that with all the work you have done it may be easy to build a web GUI that can display the documents and even edit them.

Gopherjs can be used to run the golang in the web browser.
For display I don't know how easy it will be to display a document but I don't think it has to be an exact representation.

Quill and other libraries would also help

[2017-09-09 15:59] tbaliance commented on #52
I try to avoid web stuff if I can help it, but if you do it let me know and I'll add a link to it from the README.

[2017-09-09 16:12] joeblew99 commented on #52
https://github.com/quilljs/delta

this is the quill format. Just need to write a mapper for ooxml. I bet there is one out there

[2017-09-10 15:14] tbaliance opened #54 "Docx table cell span doesn't display correctly on Mac Word"
## Description
_examples/document/tables

## Expected Behavior
Cell should span two columns

## Actual Behavior
Cell spans two columns on LibreOffice, and only a single column on Mac Excel

[2017-09-10 15:33] #54 closed

[2017-09-21 21:34] zhibek opened #82 "Failure to parse DOCX in "use-template" example (and other simple LibreOffice created DOCX files)"
## Description
Running the "use-template" example in the repository results in an error parsing the DOCX template included as an example (template.docx). Similarly, creating a new DOCX in LibreOffice with a single line of text also results in a parse error.

## Expected Behavior
Running the "use-template" example (or any other script using `document.OpenTemplate()` or `document.Open()` should resu

[2017-09-21 21:49] tbaliance commented on #82
@zhibek Sorry, I'll update the README to mention the version of Go required.  The package requires go 1.8+ due to using the ",any,attr" to help round-trip extra stuff that Word throws in. This was added to Go 1.8 as part of https://github.com/golang/go/issues/3633

Can you retry with Go 1.8 and let me know?

[2017-09-21 22:56] tbaliance commented on #82
@zhibek I also just added a compile time constraint in #84 that will prevent gooxml from compiling with pre-go1.8.

[2017-09-22 07:06] thxallvu opened #89 "recompile the example and cannot open the generate .docx"
##
experimental environment:
1.OS:windows 7 x64、VScode
2.Go version 1.9
first，i use "go get baliance.com/gooxml",after that,i use "go build baliance.com/gooxml/..."but the compiler error:"The filename or extension is too long." so i rename the"schemas.openxmlformats.org"
to "s" and change all the "schemas.openxmlformats.org" to "s" of the path in all files. finally,it compiles successfully. i test

[2017-09-22 07:52] zhibek commented on #82
@tbaliance Thanks for looking at this.

I can confirm this is working after I changed to Go v1.8.

[2017-09-22 18:09] #82 closed

[2017-09-22 18:33] tbaliance commented on #89
@thxallvu Can you try the shorten-path-names branch and let me know if it solves your problem?  If not, what is your GOPATH set to?

[2017-09-23 02:41] thxallvu commented on #89
Error information：
`C:\GoWorks\src\baliance.com>go build baliance.com/gooxml/...
go build baliance.com/gooxml/schema/schemas.openxmlformats.org/wordprocessingml: C:\Go\pkg\tool\windows_amd64\compile.exe: fork/exec C:\Go\pkg\
tool\windows_amd64\compile.exe: The filename or extension is too long.
go build baliance.com/gooxml/schema/schemas.openxmlformats.org/spreadsheetml: C:\Go\pkg\tool\windows_amd

[2017-09-23 14:01] tbaliance commented on #89
@thxallvu Can you verify the fix?

[2017-09-23 14:43] thxallvu commented on #89
As you said,i verified the fix. And there is no compile Error.It generate the .docx file but cannot open . I could open the .docx file in the _example ,before i recompile all the files.

[2017-09-23 14:46] tbaliance commented on #89
@thxallvu  Can you attach the doc file that you created and I'll have a look?  I verified with Windows 10 and Office 365.

[2017-09-23 14:53] thxallvu commented on #89
[tables.docx](https://github.com/baliance/gooxml/files/1326607/tables.docx)

[2017-09-23 15:05] tbaliance commented on #89
@thxallvu  I can't reproduce the problem, the file you sent contains the exact same contents as the tables.docx that is checked into git.  The only difference are the file timestamps.

tables.docx from git:

      640  2017-09-10 15:22   _rels/.rels
      368  2017-09-10 15:22   docProps/app.xml
      376  2017-09-10 15:22   docProps/core.xml
      905  2017-09-10 15:22   word/settings.xml
     21

[2017-09-23 17:47] thxallvu commented on #89
I tested the code in ubuntu 16.04 again. and the informantion is as follows:
go version go1.8.3 linux/amd64``  it works.i can open with LibreOffice Writer.

Conclusion:
I tested the code 3 times in different environments.detals are as follows:
`
1.Offical environment:   windows 10+office365(you mentioned)  opened with 0ffice365
2.workstation:   windows7+MS-office-2013  cannot open，both opened with

[2017-09-23 17:50] tbaliance commented on #89
@thxallvu I don't have Office 2007, but I do have 2013. I'll test with it and let you know what I figure out.

[2017-09-23 18:00] tbaliance commented on #89
@thxallvu All I've got is Win7 with Office Professional Plus 2013, and all of the sample documents work there correctly for me.

Office 2007 is end of life'd in about 2 weeks according to https://support.microsoft.com/en-us/help/3198497/office-2007-approaching-end-of-extended-support as well.

[2017-09-23 18:53] thxallvu commented on #89
I install the MS office 2016 and try it again and it works! thank you for all your replies and your patience！

[2017-09-23 18:53] #89 closed

[2017-09-23 18:55] tbaliance commented on #89
No problem, glad you got it worked out!

[2017-09-28 21:24] joeblew99 opened #96 "fails to handle images"
## Description

I am takes a basic google doc and exporting it as word and then doing a basic find replace and then uploading it back into google docs.

## Expected Behavior

doc opens in google docs

## Actual Behavior

doc will not open in google docs

i am manually downloading it from google docs as a word doc which is the default for google docs.
After it spits out the Test-out.docx, i manual

[2017-09-28 21:29] joeblew99 commented on #96
If your curious on the fix, i tried this and it worked perfectly for the use case

https://github.com/nguyenthenguyen/docx

[2017-09-28 21:41] tbaliance commented on #96
@joeblew99 That package unpacks the XML and does a search and replace.  This one fully parses the documents to allow more advanced editing.  The problem with this one is we aren't handling the image filename correctly. In the document it's 'word/media/image2.png', even though it's the only image and when saving we are writing it back out as 'word/media/image1.png' without changing the relationship

[2017-09-28 21:56] #96 closed

[2017-09-28 21:56] tbaliance commented on #96
@joeblew99 I rolled a quick fix into a branch I was about to merge in.  I'l add a test for it later, but this should fix your issue. Feel free to re-open if you still run any problems.

[2017-09-28 22:12] tbaliance commented on #96
@joeblew99 Also, do you mind if I check your test.docx in and use it as a test file?

[2017-10-01 19:08] joeblew99 commented on #96
yep you can use that file :)
thank for this..

On Fri, Sep 29, 2017 at 12:12 AM Todd <notifications@github.com> wrote:

[2017-10-03 09:46] bluebob opened #104 "Enhancement request: more complex table examples"
## Description
Could you please update/extend the table example to show more complex tables, e.g. cell highlight use, left/right/centre alignment. I'm particularly interested in control of horizontal alignment - and centering headings seems to be a non-trivial task to configure.

## Expected Behavior
n/a - documentation update

## Actual Behavior
n/a - documentation update

Please include a reprod

[2017-10-03 13:19] #104 closed

[2017-10-03 13:19] tbaliance commented on #104
@bluebob Pull latest and check out the tables example and see if that is what you wanted.  Feel free to re-open this issue if it didn't cover your use case.

[2017-10-05 00:32] alfalfalfa opened #107 "spreadsheet: SaveToFile broken"
## Description
can not open an output file by loading an existing file
(Excel for Mac ver 15.29.1)

`// empty.xlsx was created in this way (Excel -> New -> Save)`
` wb, _ := spreadsheet.Open("empty.xlsx")`
`// it's broken`
` wb.SaveToFile("empty_out.xlsx")`

[empty.xlsx](https://github.com/baliance/gooxml/files/1357710/empty.xlsx)

[2017-10-05 12:21] #107 closed

[2017-10-05 12:23] tbaliance commented on #107
@alfalfalfa  This should be fixed now. We were round-tripping some non-standard content on the Workbook, but it looks like Excel wants some non-standard attributes round-tripped as well.  It works fine just dropping the non-standard content for now.

In case you're interested, this is the content that is dropped. My guess it Excel uses it for something like the initial path in the file open or fil

[2017-10-10 11:26] bluebob opened #109 "Feature request - table alignment, row height and cell vertical justification"
## Description
Would like implementation of more of the "Table Properties" dialog from Word. Specifically, the Table Alignment feature from the Table tab via the Alignment radio button trio; the Size from the Row tab; and the Vertical Alignment radio button trio from the Cell tab.

## Expected Behavior
1. table.Properties().SetAlignment(ST_JcLeft) etc, same as current paragraph properties
2. row.P

[2017-10-10 12:49] #109 closed

[2017-10-10 14:41] bluebob opened #112 "Feature request - set table cell width"
## Description
Desirable to be able to set column widths in tables in Word documents to either fixed or percentage sizes. Assumption that this can be achieved by a SetWidth property on cells as already available for tables as a whole or cell-spacing, rather than having to introduce something like table.Column().SetWidthAuto().

## Expected Behavior
1. cell.Properties().SetWidthPercent(25.0) - cell

[2017-10-10 14:54] bluebob opened #113 "Feature request - add hyperlink functionality to Word documents"
## Description
xlsx output format appear to support a hyperlink property on individual cells, (SetHyperlink). This FR is to request that functionality to be extended to docx output.

## Expected Behavior
From inspection of the spreadsheet setup it would look like the natural place to add this functionality would be as a property to the run object, that way hyperlinks can appear the middle of text

[2017-10-10 17:58] #112 closed

[2017-10-10 17:58] #113 closed

[2017-10-10 21:32] freb opened #116 "Access to existing headers & footers"
## Description

My approach with another library has been to create a document to act as a template that included as much of the content and formatting as possible, overwriting what I could and adding content where I had to.

I am am attempting to overwrite the content of an existing header in a document instead of adding a new one from scratch, but there doesn't appear to be a way to access to th

[2017-10-10 21:59] tbaliance commented on #116
@freb You didn't miss any capability, I never needed to do that and didn't think to export it.

I've got a PR up that exports Headers/Footers as well as adding RemoveParagraph/Clear methods on them to support removing individual paragraphs or clearing all content within the header.  It should be merged in the next few minutes as soon as it passes CI. If you notice any other capability missing, ple

[2017-10-10 22:04] #116 closed

[2017-10-10 22:24] freb commented on #116
Awesome! I'll take a look.

The only other thing I had noticed so far were the lack of update methods on runs, but just today I noticed you added those with the remove/clear methods you mentioned. That's actually what made me look to see if there was any change to the header/footer access. But really, dropping down to `.X()` wasn't that bad and its really nice to be able to do that.

Thanks again!

[2017-11-29 09:26] wxf4150 opened #123 "how to set indent of Paragraph first line in docx"

[2017-11-29 23:26] tbaliance commented on #123
Once that is merged in, you can use:
[code]

[2017-11-29 23:32] #123 closed

[2017-11-30 06:19] wxf4150 commented on #123
thanks!  it works

[2017-11-30 22:52] tbaliance commented on #52
Closing this for now, I don't expect to work on it.

[2017-11-30 22:52] #52 closed

[2017-12-01 07:20] freb opened #126 "Adding internal links"
I'm looking to add internal links in a document. I see the functionality for adding HyperLinks, but that appears to only be for external URLs. I'm looking for the functionality of creating a hyperlink to a "Place in this document" as is available from within word.

My use case is adding links to appendices into the body of my document (e.g. "see <appendix A>"). The text containing the link would m

[2017-12-01 18:14] tbaliance commented on #126
I tested and Word inserts a bookmark at the destination (heading, etc.) and then references it from the hyperlink.  Please let me know if you run into any issues with the implementation.

[2017-12-01 18:36] #126 closed

[2017-12-01 20:56] freb commented on #126
Code works perfectly. I haven't decided if I'm going to stick with my current method of filling in sections of an already populated and formatted document, or create the document from scratch. Once I start playing with filling in my current template, I may discover I need more functions for discovering and iterating existing objects in the document, such as existing bookmarks, tables, etc. I'll op

[2017-12-01 21:09] tbaliance commented on #126
Sure thing!  I've used both of those methods, and there are definite tradeoffs to each.

Lately, I've preferred constructing documents entirely in code.  It's a larger investment in time up front, but there's something nice about having it all done that way. In the end, it may just be personal preference.

[2017-12-01 21:51] freb opened #128 "Support for document charts"
Is there any support or planned support for adding charts or editing data associated with an existing chart?

I know that when a chart is created a spreadsheet gets embedded into the `word/embeddings` folder of the docx file. I also know that if you update this spreadsheet, the chart in the document doesn't get updated until you "edit data" from within word, unless you also change the data in `wor

[2017-12-01 22:18] tbaliance commented on #128
@freb I'll have a look, allowing editing the spreadsheet shouldn't be too bad.  If the charts work like they do in Excel, all you need to do is drop the numCache elements in your chart1.xml to cause the chart to be redrawn.  I'll test and see if that works in Word as well.  Since gooxml can evaluate formulas, it could always regenerate the numCache elements, but dropping them is easier and has wor

[2017-12-05 23:17] freb opened #130 "document table: merging cells and styles"
I just started working with tables and there appear to be a few API calls missing for tables.

First, I can't seem to merge cells. I did see some options using `.X()`, but I thought I'd check to see if this is something you were planning on implementing first.

Second, I'm currently using table styles for formatting my tables. This supports things like bolding the first row or otherwise formatting

[2017-12-05 23:57] freb commented on #130
Appologies, I just stumbled onto the `SetColumnSpan` method on `cell.Properties()`: https://github.com/baliance/gooxml/blob/master/document/cellproperties.go#L28

So looks like merging cells is already implemented. I'll leave this open for feedback on table styles.

[2017-12-06 00:52] tbaliance commented on #130
@freb You may want to check out ```baliance.com/gooxml/_examples/document/tables``` if you haven't already, it has an example of ```SetColumnSpan```.  I'll update the document to mention the phrase 'merged cells' to help in future users that search for it.

Adding support for table styles is pretty trivial from the table side, it's just allowing setting the style and some attributes on the 'look'.

[2017-12-06 07:43] freb commented on #130
Sorry about the `SetColumnSpan`, I found that a short while after posting.

For my use case, I don't have much interest in being able to generate a table style from scratch. I'll always be working off of at least a `dotx` file where it would be a lot easier to generate the style in Word for use with gooxml. Being able to easily set the style on the table would be nice though.

[2017-12-06 23:33] tbaliance opened #132 "document: Support for creating table styles"
## Description

We need to be able to create table styles programatically.

[2017-12-06 23:34] tbaliance commented on #130
@freb Using predefined styles is in master now, see document/use-template for an example. I created #131 to track creating table styles from scratch.

[2017-12-06 23:34] #130 closed

[2017-12-06 23:59] #132 closed

[2017-12-07 05:45] freb commented on #130
This looks awesome. I'll let you know if I run into any issues. Thanks!

[2017-12-10 01:51] freb opened #134 "Support for inline images"
I need to insert an inline image. I see convenience functions for anchored images but not for inline images.

I took a stab at adapting the `AddDrawingAnchored` method on `Run`, but the image is showing blank.

My stab:

[code]

Is this something you would consider adding? For my current use case, I'm trying to rely on the paragraph position and formatting to handle image location and an inline im

[2017-12-10 13:37] tbaliance commented on #134
There's a new ```AddDrawingInline``` method on ```Run``` that worked in my testing.  I'll look at fleshing out the InlineDrawing later, but for now it's good enough to insert and allow you to control the image size.

[2017-12-11 03:46] freb commented on #134
This definitely works. But I noticed I get an error when I try to open it in Word: `We're sorry. We can't open out.docx because we found a problem with its contents`. Once I click the button to recover it, everything looks fine.

I diffed the `document.xml` between the pre and post recovered versions and there are some differences, but nothing that looks wrong necessarily. I tried replacing each d

[2017-12-11 11:47] tbaliance commented on #134
That means we’re doing something wrong. I tested on OSX Word which is usually the most particular regarding format. What version of word reports an error?

[2017-12-11 20:29] freb commented on #134
Microsoft Office 365, Version 1710 (Build 8625.2139), on Windows. Should be the most up-to-date version of 365.

I just reproduced the "can't open" issue with a brand new blank word document. For some reason, when I create a new word document the default is "compatibility" mode, but I get the same result whether I leave it in compatibility mode or upgrade it to the "newest file format". It doesn't

[2017-12-13 20:59] freb opened #136 "Helper function for paragraph Indentation level"
Any interest in adding a convenience function for setting paragraph indentation level?

Its really not too bad using `.X()`, but thought I'd raise it in case you're interested in which cases people need to use `.X`.

Here is what I did and seems to work fine:

[code]

[2017-12-14 00:24] tbaliance commented on #136
Yup, I'll add it.  I think the second part (NumId) is incorrect in your example though, it's a reference to a numbering style defined in styles.xml

[2017-12-14 01:01] freb commented on #136
A reference to `number.xml` seems a little more legit than choosing a random int :).

Thanks, yet again.

[2017-12-16 13:36] #136 closed

[2017-12-16 13:36] tbaliance commented on #136
@freb Done, check out _examples/document/simple for example usage.

To mimic what you were doing, you can do this instead:
[code]

[2017-12-16 16:30] siskinc opened #138 "Some Bugs In Windows"
## Description
  Hi,author.
  First of all,I love this lib,and my english is not good.If I used the wrong words, please forgive me.
  When I watching your example, I was so exciting.But after I run your example's code.The worry is appear.Open the generate file，the windows tell me, can open this file.
## Expected Behavior

## Actual Behavior

Please include a reproducible code snippet or document a

[2017-12-16 16:31] tbaliance commented on #138
Which example generates a file that fails to open on Windows?

[2017-12-18 13:30] smallage opened #139 ".doc file"
## Description
   HI, I try resolve the .doc file,the system report an error:   error opening document: parsing zip: zip: not a valid zip file
## Expected Behavior
I hope it's ok. The .docx file is well done.  my english is  poor,I hope you can help me.
## Actual Behavior

Please include a reproducible code snippet or document attachment that
demonstrates the issue.

[2017-12-18 23:00] tbaliance commented on #139
@smallage Unfortunately this library will never be able to read .doc files.  You'll need to convert them to .docx first, the file formats are completely different.

[2017-12-18 23:00] #139 closed

[2017-12-19 04:07] smallage commented on #139
Yes, please. Thank you.

[2017-12-20 15:56] siskinc commented on #138
tables,toc,use-template
I just used these example
I feel part of document could have a bug

[2017-12-26 09:50] ztype opened #140 "document table fixed columns width"
Hi,
  I create a docx file,and add some tables in it. When I open it with Office Word,the table columns' don't show the width I specified in my code.
 I find out this is because Office Word has an `Automatically resize to fit contents` option in every single table.The docx file would show properly if I disable this option in the table's properties in Office Word.
 So,I suggust if there is a way to

[2017-12-27 22:20] tbaliance commented on #140
@ztype I added support for this that will be merged in soon.

[code]

[2017-12-27 22:26] #140 closed

[2017-12-27 22:27] tbaliance commented on #138
@siskinc What version of Word are you using?

[2017-12-27 22:42] tbaliance opened #142 "document: adding image to an existing document fails if there are no existing images"
## Description

Open a template with no images, and add an image.

## Expected Behavior
The document should open normally.

## Actual Behavior

Word reports an error.  This is due to missing content types for images.

Reported by @freb

[2017-12-27 22:42] tbaliance commented on #134
Found the issue and re-submitted as #142

[2017-12-27 22:42] #134 closed

[2017-12-27 22:43] tbaliance commented on #142
@freb Fix coming soon, thanks for the great test case!

[2017-12-27 22:48] #142 closed

[2017-12-28 01:36] ztype commented on #140
great!
thx a lot

[2017-12-28 04:52] ztype opened #144 "Heading Level problem"
Hi,
  I update the package today and find out a bug with Heading Level.
  This is how the `toc.docx` in `_examples` directory shows:
![hl](https://user-images.githubusercontent.com/32980712/34400510-1149fc74-ebcd-11e7-9a46-cc36377b7d51.png)

  And this is how the docx I generate with the code `_examples/toc/main.go` shows:
![hlp](https://user-images.githubusercontent.com/32980712/34400529-489a75aa

[2018-01-05 00:59] tbaliance commented on #144
@ztype Give that a shot when it's merged in a few minutes.  Feel free to re-open this issue if you need something more.

[2018-01-05 01:03] #144 closed

[2018-01-08 09:47] treylav commented on #138
I used [simple example](https://github.com/baliance/gooxml/blob/master/_examples/document/simple/main.go) and "Hello, world" from [homepage](https://baliance.com/gooxml/).

When I try to open a file in Word, I get the error "We're sorry. We can't open simple_before.docx because we found a problem with its contents". If I try to open a file in LibreOffice 5 it will open without errors. If I save th

[2018-01-09 01:40] tbaliance commented on #138
@treylav Looking into it, but it may take a while.  It works on Word 365 for OSX, Word 2013, and Word 2016 of a slightly older build (16.0.5xxx).  I need to test with a version of Word it fails on.

[2018-01-12 13:54] tbaliance commented on #138
I installed the latest Word on Windows 10 that comes with Office 365 (Version 1711 Build 8730.2165), which I assume is the same as yours and it can open the file with no errors.

Do you use an English language configured Office, or another language?  Perhaps that's the issue?

[2018-01-12 14:18] tbaliance commented on #138
@treylav / @siskinc  Can you open each of these files and see if any of them open without error?

They are each a copy of simple_before.docx with a single file replaced from simple_after.docx.  If one of these works, it will narrow down where the problem is.  They all work correctly on my copy of Word 2016 (as does the original unmodified file).

[simple_content_type.docx](https://github.com/balia

[2018-01-16 08:03] treylav commented on #138
Unfortunately, nothing has changed.
I use English as main language in Word and Windows, but Russian as region in system. The system has English, Russian and Korean locale (it's my fault that I did not mention it earlier).
![image](https://user-images.githubusercontent.com/617704/34977748-c97998e8-faac-11e7-86a6-6300375b6e01.png)

[2018-01-16 13:41] tbaliance commented on #138
@treylav  Were you able to open any of the simple_content_type, simple_document, etc. without issue?

[2018-01-16 14:23] tbaliance opened #146 "Wrong separator characters in Windows"
decode map should use path.Clean instead of filepath.Clean to preserve forward slashes on Windows

[2018-01-16 21:41] AlexeyUzhva commented on #146
@tbaliance thank you a lot for noticing!

It works under windows with your commit.

Would be very grateful if you merge it back, so you can once again use your master branch in our software.

[2018-01-16 21:42] #146 closed

[2018-01-16 21:43] tbaliance commented on #146
@AlexeyUzhva Done, it's in master now,

[2018-01-16 21:44] AlexeyUzhva commented on #146
Thanks! So quick!

[2018-01-18 16:34] tbaliance commented on #138
@treylav Try this one, it's simple.docx plus a core properties with a language specified.

[simple_lang.docx](https://github.com/baliance/gooxml/files/1643628/simple_lang.docx)

[2018-01-19 01:24] liserjrqlxue opened #150 "insert image to header can not display"
## Description
I use `AddDrawingInline(iref)` to insert image into the header. But it result can not display the image.

<img width="620" alt="default" src="https://user-images.githubusercontent.com/5977521/35130110-23aa7fea-fcfa-11e7-95f0-199aed44e592.PNG">

## Expected Behavior

## Actual Behavior

The code:
[code]

[2018-01-19 07:05] treylav commented on #138
@tbaliance, unfortunately, the situation is the same:
![image](https://user-images.githubusercontent.com/617704/35138504-ec834690-fcff-11e7-9d42-7235fc920536.png)

[2018-01-20 00:23] tbaliance commented on #150
Yeah, we're not handing this correctly.  What's missing is a reference to the image in a header relationships file.  I'll fix this at some point, hopefully soon.

[2018-01-25 00:09] alexkowalenko opened #151 "add superscript and subscript to RunProperties"
## Description
Add the ability to change the text formatting to superscript and subscript.
## Expected Behavior
The text will have super and subscripts.
## Actual Behavior
There seems to be no way to do this. Can't find a function call on `RunProperties` that supports this. I imagine that it would like something like `SetBold(bool)`.

[2018-01-25 00:45] tbaliance commented on #151
Once this is merged in, you can do something like:
[code]

[2018-01-25 00:50] #151 closed

[2018-01-25 01:00] tbaliance commented on #150
Give this a shot. Be sure you add the image to the header instead of the document (or add to both).

[code]

[2018-01-25 01:05] #150 closed

[2018-01-25 01:18] tbaliance opened #154 "spreadsheet: sheet ordering sometimes incorrect"
## Description

I opened an workbook and the sheet titles didn't match the sheet contents.  The ordering in workbook.xml was very odd.

## Expected Behavior

Sheets are in proper order.

## Actual Behavior

Sheet titles didn't match contents.

[2018-01-25 16:41] alexkowalenko commented on #151
Thanks!

[2018-01-30 20:25] leadery opened #155 "I ran the example code but got a broken file"
## Description
Hi,
I was running **go run main.go** under _examples/spreadsheet/bar-chart to generate the bar-chart.xlsx. When I was trying to open bar-chart.xlsx I got **Excel could not open bar-chart.xlsx because some content is unreadable.**
Here's the broken file.
[bar-chart.xlsx](https://github.com/baliance/gooxml/files/1679223/bar-chart.xlsx)

OS: maxOS Sierra(10.12.5)
Go version: go1.9.3 da

[2018-01-31 19:49] #155 closed

[2018-02-20 06:39] jorgelub12 opened #159 "Presentation Error"
Im using the example of PPT template but im getting this errors:

![image](https://user-images.githubusercontent.com/17097930/36410417-e6cae8d2-15de-11e8-8fd0-07ed7f440fa3.png)
![image](https://user-images.githubusercontent.com/17097930/36410425-f005104e-15de-11e8-88da-dbd57a3f90c6.png)

[2018-02-21 05:30] freb commented on #136
I think there might be an error in the implementation. I also might be wrong.

In `document.xml`, paragraphs look like look like this (second indented item):

[code]
In `numbering.xml`, there are `num`'s and `abstractNum`'s. Mine looks like this:

[code]
The `numId` value in the paragraph looks like it points to a `<w:num>`, not an `abstractNum`.

The helper methods on the paragraph, `SetNumbering

[2018-02-24 17:58] levrik opened #160 "Does not compile on Windows"
## Description

Trying to use `document.New()` on Windows.

## Expected Behavior

It compiles.

## Actual Behavior

Getting an error:
[code]

[2018-02-24 18:00] levrik commented on #160
This seems to be related to the max path length on Windows. Sadly I am not able to move my Go workspace to another location that is higher in the tree. Does the packages of this library need to be that deeply nested?

[2018-02-24 18:12] levrik commented on #160
After reading through the whole issue I think this issue does not primarily come from the location of my workspace. I think it's related to the amount of files that are inside that folder. This exceeds the maximum length of the whole command because (if I understood that correct) the Go compiler just appends all files per folder (or package?) to that one.
Looks like this should be resolved on the

[2018-02-27 03:42] freb opened #161 "Bug in paragraph Indentation level functions"
I think I discovered an issue with the paragraph indentation that I added to a [previous issue](https://github.com/baliance/gooxml/issues/136#issuecomment-367218322). I'm not sure if closed issues are are monitored, so I'm creating this.

## Description
The `SetNumberingDefinition` and `SetNumberingDefinitionByID` methods on `Paragraph` set the `PPr.NumPr.NumId` property but the value that they se

[2018-02-27 03:53] lishuu opened #162 "How can i iterate tables in docx?"
## Description
How can i iterate tables in docx?
## Expected Behavior
I can't find any function support this requirement, such as doc.Tables() ?

Thanks!
## Actual Behavior

Please include a reproducible code snippet or document attachment that
demonstrates the issue.

[2018-02-28 01:58] tbaliance commented on #161
@freb Sorry, I'm swamped with a bunch of other tasks right now.  Can you try that branch out and let me know?

[2018-02-28 01:59] tbaliance commented on #162
Sorry, I haven't added that feature yet.  I'll add it to the TODO list, or you're welcome to submit a PR.  It should be fairly straight forward, you can see how tables are created in AddTable

[2018-02-28 02:02] tbaliance commented on #160
What version of Windows?  The longest path appears to be:

[code]
Which his only 94 characters.  I've tried to flatten it before, but it's not easy.  The schema code is generated and there are several types that have the same name.

[2018-02-28 02:02] #154 closed

[2018-02-28 02:19] lishuu commented on #162
Hi,
Thanks for your response. I add some code as follow.

1. document.go
[code]
2. table.go
[code]

3. row.go
[code]

4. cell.go
[code]

**At last I can iterate table's contents**
[code]

[2018-02-28 02:23] tbaliance commented on #159
@jorgelub12 Sorry, I never meant to commit this.  It's not working yet, as you've found out.

[2018-02-28 03:36] freb commented on #161
Tried it and it worked flawlessly. I'm closing this issue.

If I run into anything else I'll try to submit a PR, since it seems you're open to that. This library is just so well done I thought we might end up with a bull-in-a-china-shop situation.

Thanks again!

[2018-02-28 03:36] #161 closed

[2018-03-01 08:46] lishuu opened #164 "How to merge two cells in multiple rows on table of docx?"
Hi!
How to merge two cells in multiple rows on table of docx?  i cannot found  any doc or demos.

Thanks!

[2018-03-01 11:37] tbaliance commented on #164
@lishuu That's not implemented yet, I'll add it to the TODO list

[2018-03-01 15:52] srinathh opened #165 "Unable to figure out how to set page margins on document"
## Description
I am unable to figure out how to set page margins on document. I would like to set margins of the generated document to 0.5 inch

I managed to follow the rabbit hole of XML down to `doc.X().Body.SectPr.PgMar.TopAttr` but then there's a pointer to an int64 which i'm not able to set. When I try to retrieve the object, I get a null pointer error.

[2018-03-01 15:54] tbaliance commented on #165
@srinathh I'll add this to my TODO to make a helper method, but for now you'll need to create the int64 yourself.  Look at this `AddTabStop` method for reference `gooxml.Int64` just creates a pointer to an int64, and the measurement stuff is used for translating distance units.

[code]

[2018-03-02 17:19] srinathh commented on #165
Thanks! I've created a helper function to set margins based on your code & sent a pull request.

[2018-03-03 00:53] tbaliance commented on #165
Great, thanks! I'll merge it soon.

[2018-03-03 15:59] #165 closed

[2018-03-05 01:09] daniel-007 commented on #160
I have the same problem,my env:
windows10 64bit
go version go1.10 windows/amd64

error info:
baliance.com/gooxml/schema/soo/sml
go build baliance.com/gooxml/schema/soo/sml: D:\devtools\Go\pkg\tool\windows_amd64\compile.exe: fork/exec D:\devtools\Go\pkg\tool\windows_amd64\compile.exe: The filename or extension is too long.

[2018-03-05 17:58] levrik commented on #160
@tbaliance I was able to move my Go workspace up. That resolved the issue for me. I think we have to wait for the Go developers resolve it.

[2018-03-06 05:03] freb commented on #160
Not sure if this will help, but Windows 10 supports longer paths, you jsut have to enable it in the registry: <https://superuser.com/questions/1119883/windows-10-enable-ntfs-long-paths-policy-option-missing>

[2018-03-11 05:46] lishuu commented on #164
@tbaliance Thanks for your response.

[2018-03-11 05:46] #164 closed

[2018-03-11 05:46] #162 closed

[2018-03-13 12:55] #159 closed

[2018-03-13 12:55] tbaliance commented on #159
@jorgelub12 Give this a shot, it works in my very minimal testing.

[2018-03-28 22:25] kendrickkesley commented on #128
Hi! how do you add charts to word documents?

[2018-03-29 01:22] 0xdevalias opened #170 "Support adding/replacing MERGEFIELDs"
I'm trying to understand if/how 'MERGEFIELDS' are supported within gooxml, or if it is the kind of thing I would need to drop into `.X()` to handle?

I did see that there are `doc.FormFields()`, `r.AddField()`, etc functions, but as best I could tell, these didn't seem to do what I want. I also came across the 'KnownFields', which seems to correlate with this, but couldn't tell if it was associate

[2018-03-29 02:57] tbaliance commented on #170
_examples/document/header-footer/main.go has example usage of AddField, which just calls:

```func (r Run) AddFieldWithFormatting(code string, fmt string)```

This may come close:
[code]
but it won't do the separate field.  If you look at ```AddFieldWithFormatting```, you can see how it's done though and probably start with that function and knock it out in a few minutes.

If you get it working, p

[2018-03-29 02:58] tbaliance commented on #128
@kendrickkesley Sorry, this still hasn't been done yet.

[2018-03-29 02:59] 0xdevalias commented on #170
Thanks for the pointers :) Shall have a bit of a play and hopefully have something to paste back here.

[2018-03-29 05:03] kendrickkesley opened #171 "Using run.AddField(document.FieldNumberOfPages) for footer produces "document contains fields that may refer to other files" prompt"
Hi, I'm trying to add page numbers to my document in the footer using the sample example provided. The document was created successfully but there's a prompt of 'This document contains fields that may refer to other files. Do you want to update the fields in this document?'

The content of the document is correct though even though I click No for the prompt

Here's my code for the footer

    doc

[2018-03-29 21:45] tbaliance commented on #171
@kendrickkesley This is because of the dirty flag in:

[code]

I added this originally as the fields I was using (e.g. TOC) required the update to generate the content, otherwise the table of contents would be blank. It looks like in your case, it's not absolutely needed.

I'm not sure of the best way to fix this, either a flag to indicate if the field should be marked as dirty or a separate metho

[2018-03-31 01:52] #171 closed

[2018-04-03 06:15] 0xdevalias commented on #170
I figure I'll add some context/PoC code here as I go, in case it helps others in future that want to explore adding something. To start off, I wanted to understand how to basically create the equivalent structure of the merge field run that my original document contained:

<details>
  <summary>PoC Go Code</summary>

[code]

</details>
<br />

This resulted in the following structure in my produced

[2018-04-03 23:51] 0xdevalias commented on #170
Building on what we have above, here is some sample code that will display some of the basics of the relevant tags for a given paragaph:

[code]
This produces the following output:

[code]

It's also worth noting that according to the 'Complex Fields' section of http://officeopenxml.com/WPfields.php:

[2018-04-04 00:45] 0xdevalias commented on #170
Ok, so this is a rather naive implementation, and may not account for all of the potential intricacies/edge cases.. but it works in this most basic of test cases:

[code]

It would probably make more sense for `replacements` to actually be able to insert it's own runs rather than just static text (possibly even need to 'push it up another level' so it can insert it's own paragraphs of runs to trul

[2018-04-04 09:55] lishuu opened #173 "Lost header and footer when I add page break"
## Description
Hi,
When I add page break the header and footer are gone.
run [this](https://github.com/baliance/gooxml/blob/master/_examples/document/header-footer/main.go) example

[code]
I use Office Word 2016 in windows10.
What can i do to keep header?

Please include a reproducible code snippet or document attachment that
demonstrates the issue.

[2018-04-05 00:08] kendrickkesley commented on #171
Thanks! @tbaliance btw I'm updating the library with dep ensure -update baliance.com/gooxml but it still uses AddFieldWithFormatting(code string, fmt string). but if I use go get, it's picking the right version. do you know why it happens?

[2018-04-05 02:17] tzneal commented on #171
@kendrickkesley Yeah, I didn't tag a new release which is what dep uses.  I'll tag one now.

[2018-04-05 22:42] tbaliance commented on #173
@lishuu You have to set the header on the section as well, Word doesn't automatically associate them:

[code]

[2018-04-05 22:42] #173 closed

[2018-04-27 20:47] amanbolat opened #174 "Support Text box in word document"
## Description
Could not find how to get or set text box in word document.
But i found some related files on schema/soo(urn) paths.

[2018-05-08 09:23] jjjachyty opened #175 "AddTable the cell's paragraph runs font don't work"
## Description
when i use doc.AddTable() and .AddRow().AddCell().AddParagraph()
then Run.Properties().SetFontFamily("Courier") it don't work

## Expected Behavior

## Actual Behavior

Please include a reproducible code snippet or document attachment that
demonstrates the issue.
[code]

[2018-05-09 03:14] jjjachyty commented on #175
I get it, its not support chinese font,can support it ?

[2018-05-09 06:20] #175 closed, assigned to nobody

[2018-05-09 11:08] jackwakefield opened #176 "SSL error for baliance.com"
## Description
Followed https://github.com/baliance/gooxml#installation.

## Expected Behavior
The package was fetched and added to my gopath.

## Actual Behavior
[code]

[2018-05-13 20:10] tbaliance commented on #174
@amanbolat Can you provide a sample document that has a text box you're trying to reproduce?

[2018-05-14 06:20] jjjachyty opened #178 "how to insert table somewhere?"
## Description
i want to insert a table  after somewhere of Paragraph,how to do?
## Expected Behavior

## Actual Behavior

Please include a reproducible code snippet or document attachment that
demonstrates the issue.

[2018-05-14 10:48] amanbolat commented on #174
@tbaliance i created repo with one word file: https://github.com/amanbolat/gooxml-textbox-test

[2018-05-18 23:53] tbaliance commented on #178
@jjjachyty See _examples/document/tables/  for a table example.  I'm not quite sure I follow your question though.

[2018-05-19 00:05] tbaliance commented on #174
@amanbolat  I don't see this happening any time soon. The text box is inserted twice with an alternate content to support older versions of Word.  We round-trip these, but don't allow editing them.

Sorry, but I'm closing this for now.

[2018-05-19 00:05] #174 closed

[2018-05-19 00:08] tbaliance commented on #160
This should be fixed in Go 1.10.3 when released in mid June and will be fixed in Go 1.11 when it's released in August.

[2018-05-19 00:53] jjjachyty commented on #178
I have seen ，but i don't find like document.insertTable(location) API，just find insertParagraphAfter(p)

[2018-05-20 11:16] amanbolat commented on #174
@tbaliance I thought, that will be better to add function to fetch paragraphs from text box too. If it's not in roadmap then extracting textbox from Extra field and then loop through it to get paragraphs is very painful.

[2018-05-25 02:09] jjjabc commented on #178
@jjjachyty 你可以看看我提的pull request #181 .希望能够帮助你.我最近也需要插入一个table,遇到这个问题.

[2018-05-25 20:56] tbaliance commented on #178
Thanks! I merged your pull request.

[2018-05-25 20:56] #178 closed

[2018-05-26 07:50] jjjachyty commented on #178
@jjjabc  👍 要是有文档合并 和 转换(html)就好了

[2018-05-28 12:20] CYL96 opened #184 "missing SetLineSpacing"
## Description
I have append it into source go.Missing SetLineRuleSpacing too
## Expected Behavior
1.5 line = (font size )*1.5
double = (font size)*2
chinese firstIndent 2ch =   (font size)*2

## Actual Behavior

code:

func (p ParagraphProperties) SetLineSpacing(linespacing measurement.Distance){
	p.x.Spacing = wml.NewCT_Spacing()
	p.x.Spacing.LineAttr = &wml.ST_SignedTwipsMeasure{}
	p.x.Spacing.

[2018-05-28 12:36] tbaliance commented on #184
Fixed in #183

[2018-05-28 12:36] #184 closed

[2018-05-30 12:23] tbaliance opened #185 "Support sending docx files off to Microsoft servers for conversion to PDF"
## Description

A commercial user mentioned this feature in an anonymous survey, so I'm not sure who told me about it :) Feel free to send me an email or post some information here on how this works.  I'd like to implement it as I think it would be extremely useful.

Thanks!
Todd
todd@baliance.com

[2018-05-30 15:23] freb commented on #185
Hey Todd. I just made the repo public so you can take a look:

https://github.com/aerissecure/docx2pdf

As you'll see from the README, the call is extremely simple and requires no authentication.

Another repo I just made public is for converting markdown into docx using blackfriday v2. It could probably use a few cleanups but most everything is supported:

https://github.com/aerissecure/md2docx

[2018-05-31 09:51] tbaliance commented on #185
@freb I think you're the first person on the internet to discover it, and definitely the first person to document it!

I looked into TOC generation at one point, you can insert the content easily enough but the thing I could never figure out was page number calculations.  You'd have to implement basically the Word layout engine in order to figure out what the page numbers should be.

[2018-05-31 16:44] freb commented on #185
That makes total sense about the TOC generation. Even Latex has to make multiple passes for those calculations and its actually doing the rendering.

If the online version of word ever supports TOC generation, there will probably be some way to use it programmatically.

Note that I tried to convert other file formats (xlsx) with the same Microsoft endpoint and it doesn't appear to be supported. On

[2018-05-31 20:48] freb commented on #185
Sorry to keep talking about the TOC in this issue. If you think it would be helpful to anyone else, we could start another issue with options and workarounds.

I just figured out it would be possible to host your own conversion server using a real Word installation on Windows using COM. `github.com/go-ole/go-ole` works well for opening and re-saving. Running Windows is far from ideal, but at least

[2018-06-04 21:39] tbaliance commented on #185
@freb I'm not too sure about using the undocumented MS url for conversion, but I think your OLE idea was great.  I'm adding two examples, one that does a PDF export and another that generates the TOC like you mentioned.

[2018-06-04 21:42] #185 closed

[2018-06-04 21:56] freb commented on #185
I started liking that idea more after I mentioned it as well. I'm glad to see the examples!

[2018-06-20 08:41] mchusovlianov opened #187 "Footer for last page"
Hi, guys! Is it possible to set header/footer for the last page?

[2018-06-22 04:15] 0xdevalias commented on #170
@tbaliance Curious if this is something you'd be interested in/have time to clean up/implement at all?

[2018-06-22 11:35] tbaliance commented on #187
Look at the _examples/document/header-footer-multiple and see if that helps.  If not, post an example document and I'll take a look.

[2018-06-22 11:43] tbaliance commented on #170
@0xdevalias I'll take a look and see if I can come up with something.

[2018-06-25 18:00] mchusovlianov commented on #187
That's quite difficult as I can't create an example in Word. But I'll try to explain to you, for instance, you have a long long table in your docx file, for instance, 4-5 pages with one table. I'd like to have only one footer on the last page of the doc.

[2018-06-28 14:51] tbaliance commented on #187
If standard Word won't do it, it won't be possible through this library either as it writes the same file format. To create multiple headers/footers, you must use different document sections.  See the _examples/document/header-footer-multiple  example and you can possible get close to what you want.

[2018-06-28 14:51] #187 closed

[2018-06-29 16:22] wanton7 commented on #138
We had similar issue in our software that was created using C#. We used MemoryStream's GetBuffer when we should have used ToArray. This caused files that we saved to get extra zero bytes to end of file. For most people these files worked just fine but some people who tried to open these docx files got "The file is corrupt and cannot be opened" error.

[2018-07-01 00:40] tbaliance commented on #170
@0xdevalias Can you attach a sample document to perform replacement on?

[2018-07-07 13:14] wubin1989 opened #188 "Only support PNG format?"
I try to run image example code with jpeg format photo, but generated docx file cannot display the photo, only displays an empty box with border around.

Does the library only support png format photo?

[2018-07-08 23:15] #188 closed

[2018-07-14 00:36] 0xdevalias commented on #170
@tbaliance Sorry for the slow replies.. been pretty busy of late. Added to my todo list to checkout when I have a spare moment. Will let you know.

[2018-07-23 10:18] yaltachen opened #191 "image can not display"
## Description
Using AddDrawingInline() to insert image, but not show.
## Expected Behavior

## Actual Behavior
![img](https://raw.githubusercontent.com/yaltachen/test/master/problem.PNG "img")

[code]

Please include a reproducible code snippet or document attachment that
demonstrates the issue.

[2018-07-23 11:49] yaltachen commented on #191
using png is

[2018-07-23 11:49] #191 closed

[2018-07-23 11:51] yaltachen commented on #188
inserting .jpg image still doesn't show.

[2018-07-27 20:15] tbaliance commented on #170
I'm going to merge the code in for now, feel free to open another issue if you run into problems with it.

[2018-07-27 20:34] #170 closed

[2018-08-09 02:44] mr-shaven opened #194 "table SetWidth is not valid"
In my project，

but the export has no width.  when I run _examples  as same no effect.

[2018-08-16 04:09] mr-shaven commented on #194
it's the partial result of export in _examples/document/tables  that i  opened with pages under MAC,[http://obue5kv5x.bkt.clouddn.com/WX20180816-112153@2x.png](url), it's expected in windows system.

there is another question, how to set Cell width in .xlsx files or automatically adapter the width of content?

[2018-08-22 23:00] tzneal commented on #194
@mr-shaven It looks like Pages is just broken, it works in all of the versions of Word I've tried.

For Cells, see:

CellStyle.SetWrapped and CellStyle.SetShrinkToFit

For cell column Widths, see Column.SetWidth

[2018-08-22 23:01] tbaliance commented on #194
@mr-shaven It looks like Pages is just broken, it works in all of the versions of Word I've tried.

For Cells, see:

CellStyle.SetWrapped and CellStyle.SetShrinkToFit

For cell column Widths, see Column.SetWidth

[2018-08-22 23:01] #194 closed

[2018-09-06 03:24] ghosttk opened #195 "unsupported relationship type"
## Description
When running _examples/documents/edit-document/main.go , I got these outputs.
## Expected Behavior
Yesterday it worked, but today it doesn't.
## Actual Behavior
2018/09/06 11:19:02 unsupported relationship type: http://schemas.openxmlformats.org/officeDocument/2006/relationships/custom-properties tgt: docProps/custom.xml
2018/09/06 11:19:02 unsupported relationship type: http://sche

[2018-09-06 03:42] tbaliance commented on #195
The warning just indicate that those files are round tripped, but we don't allow editing. I just tested and the example worked for me, are you experiencing issues with it?

[2018-09-06 07:44] ghosttk commented on #195
Thanks, I works and the 'edit-document.docx' is generated correctly, I just ingore the two warning.

[2018-09-11 15:25] preciselytom opened #196 "Failure parsing Word document saved from Google Docs, reproducible"
[Bug provocation.docx](https://github.com/baliance/gooxml/files/2371482/Bug.provocation.docx)

I created this file by opening Google Drive, selecting New, then Google Docs, writing the content (some text and a table), then File > Download as... > Microsoft Word (.docx).

Both `document.Open()` and `document.Read()` fail loading the file with this error:

```error decoding word/document.xml: parsin

[2018-09-11 19:45] #195 closed

[2018-09-11 22:06] tbaliance commented on #160
This should be resolved now, please let me know if you run into any more issues.

[2018-09-11 22:06] #160 closed

[2018-09-12 01:28] #196 closed

[2018-09-12 01:29] tbaliance commented on #138
Should be resolved in 1.11, please re-open if you experience any more issues.

[2018-09-12 01:30] tbaliance commented on #196
@preciselytom Please give this a shot and let me know if you have any more issues.  If it works for you, I'll tag a new release in a day or so.

[2018-09-12 08:05] preciselytom commented on #196
That fixed it, exemplary work and response time, thanks!

[2018-09-12 08:23] JasonFromSpace opened #198 "When edit docx file generated by pandoc, the rId in document.xml.rels may goes duplicated."
## Description
Fisrt of all, Thanks for your hard work to make this fantastic lib.  I use it very often in my work.

By the way, english is not my mother language. I have tried my best to make it clear :)  If I used the wrong words, please forgive me.

Open docx file generated by pandoc (from html)， add image to it and save. Open the file in office 2016, image may be wrong (where picture A should

[2018-09-13 01:05] tbaliance commented on #198
Can you email a sample file to support@baliance.com? I don't think it will be too hard to fix.

[2018-09-13 12:34] JasonFromSpace commented on #198
A  sample docx file (in.docx) and sample code (main.go) was include in attachment.
There are 12 items in document.xml.rels, but rId of Image start at 21.

The version of pandoc is 2.0.6

At 2018-09-13 09:05:23, "Todd" <notifications@github.com> wrote:

Can you email a sample file to support@baliance.com? I don't think it will be too hard to fix.

—
You are receiving this because you authored the t

[2018-09-13 12:36] JasonFromSpace commented on #198
I have emailed a sample file to [support@baliance.com]. In case GFW block the mail. I upload the file here too.
[issue198.zip](https://github.com/baliance/gooxml/files/2379295/issue198.zip)

[2018-09-14 19:48] #198 closed

[2018-09-14 19:49] tbaliance commented on #198
Should be fixed now, let me know if you run into any more issues.

[2018-09-17 01:35] JasonFromSpace commented on #198
Everything works fine now,  thanks!

[2018-09-17 10:58] JasonFromSpace commented on #198
Hi,  there still have some chance to get invalid rId. Consider the case follow.
rId exist:  1 3 5 7
round 1:  expect 5,  got 1 3 5 7 6
round 2:  expect 6,  got 1 3 5 7 6 7  <-  there are two 7

the rId append is not sorted,  so may get wrong rId in some special case.

[2018-09-17 22:55] tbaliance commented on #198
@JasonFromSpace Thanks for pointing that out, I've got a new fix that will be merged in a few minutes.

[2018-09-26 14:33] sturgill opened #202 "Cell Margins"
This is likely a very simple oversight, but I promise I've read through the docs (source code as well as godoc). But how do you apply a margin to a table cell? I can add spacing to a paragraph within a cell:

[code]

But I haven't found a way to add left/right margins to the cell itself.

Any guidance would be appreciated!

[2018-09-26 15:02] l0rda opened #203 "How to insert row in sheet?"
Hi,

How to insert a new row in sheet?

Tried with https://godoc.org/baliance.com/gooxml/spreadsheet#Sheet.AddNumberedRow, but no luck.

[2018-09-26 22:31] tbaliance commented on #203
Can you paste a compilable example that fails?  Plain Row() should work:

[code]

[2018-09-27 01:02] #202 closed

[2018-09-27 01:03] tbaliance commented on #202
@sturgill Give that a shot, I accidentally pushed it directly to master instead of a branch, but I tested on my end.

[2018-09-27 02:40] l0rda commented on #203
For example, i need to insert 10 rows between 6 and 7. How to do that? Only create new sheet and copy rows? My case is filling invoice with items.

[2018-09-27 11:36] preciselytom opened #204 "Bug in RunProperties.IsBold()"
This is the method code:
[code]
It works in most cases, since a non-bold run's properties look like this:
[code]
And a bold run's properties look like this:
[code]
However, if the style uses bold by default, and a run turns it off, then B will look like this:
[code]
Therefore, `IsBold()` would falsely say that the run is bold.

This seems to map directly from XML where `<w:b/>` is short for `<w:b

[2018-09-27 16:06] tbaliance commented on #204
Thanks, I pushed up a change with a corrected IsBold method.  Check it out and let me know and I'll get it merged in and tagged soon.

What would you use your IsBoldSet for? I added it at first, but couldn't come up with a good use case for the comment.

[2018-09-27 16:52] preciselytom commented on #204
Looks good! But it still doesn't distinguish between the case where boldness is left as-is (on or off), and the case where boldness is turned off in case it was set by a style further down the hierarchy. My proposed method `IsBoldSet()` would tell whether the RunProperties modifies boldness.

AFAIK, in terms of XML, there are three ways that a `<w:rPr>` can deal with boldness:
1. `<w:b/>` turns on

[2018-09-27 16:57] tbaliance commented on #204
@preciselytom And you've got the same problem for Italic right?  I think it works the same way.

[2018-09-27 16:59] preciselytom commented on #204
Yes, I think it applies to any boolean property.

Actually this issue might be on a higher level. Gooxml doesn't seem to include methods for calculating the effective run and paragraph properties at a given point in the document. I'm implementing such a feature right now, in the software where we use gooxml. It involves walking the document tree (using the wml types) recursively, applying properti

[2018-09-27 17:09] tbaliance commented on #204
I came up with another way to just directly return the three values with BoldValue/ItalicValue methods rather than users needing to check two boolean, please have a look.

Yes, gooxml doesn't have any support for calculating computed styles.  Where we've used it, we've been mostly generating documents from scratch and haven't had the need. Are you generating, or editing existing documents?

[2018-09-28 07:07] preciselytom commented on #204
Thanks, I like this implementation even better.

We are converting between Word files and our own (simpler) document format, which has only direct formatting, so we have to calculate the effective inherited formatting in Word, and turn it into direct formatting. I started using Document.Paragraphs() but switched to wml structs when I realized that the order of paragraphs and tables is not preserve

[2018-09-28 10:49] tbaliance commented on #204
@preciselytom Alright, I'll go ahead and merge this then.  If you run into any more issues where enhancements to gooxml could help, please let me know.

[2018-09-28 10:49] #204 closed

[2018-09-28 10:49] #203 closed

[2018-09-30 14:17] solcates opened #207 "Panic: Nil pointer error in schema/sso/dml/common.go#ParseUnionST_AdjCoordinate"
## Description

When using `presentation.Open()` a nil pointer condition is encountered with certain powerpoint files.

Looking in the code it seems that it's generated from some other tooling (i'm not sure how it's generated)  but it is at:

https://github.com/baliance/gooxml/blob/master/schema/soo/dml/common.go#L117

I have fixed this in a branch, and will submit a PR  for the fix, however i sus

[2018-09-30 14:29] tbaliance commented on #207
@solcates Thanks! I fixed the code generator, and the diff is identical to yours so I'll just accept your PR.

[2018-09-30 15:32] #207 closed

[2018-10-01 07:52] gedw99 opened #210 "pdf generation"
I noticed in the examples that Word and excel are needed to generate the PDF'S

This means you need a copy of work etc from Microsoft. I am wondering if Open Office can be used ?

https://wiki.openoffice.org/wiki/API/Tutorials/PDF_export

EDIT. I just realised that this is based on OPen Office, Not microsoft word or excel.
Correct ?

[2018-10-01 08:43] gedw99 commented on #210
see: https://github.com/baliance/gooxml/blob/master/_examples/document/pdf-export-ole/main.go

this really requires Word ? Cant use Open Office ?

[2018-10-02 08:55] l0rda opened #211 "How to get style of cell?"
Hi,

how to get CellStyle for a cell?

Cell has methods
`func (c Cell) SetStyle(cs CellStyle)`
`func (c Cell) SetStyleIndex(idx uint32)`

but have not **GetStyle()** or **GetStyleIndex()**.
I want to copy style from one cell to another. Or just apply same style by index.

[2018-10-02 11:05] l0rda commented on #211
I found workaround:
[code]

[2018-10-08 22:15] tbaliance commented on #210
@gedw99 It won't work with the code I provided, it uses MS's OLE to automate Word.  You might be able to use open office, it looks like it used to work from the command line anyway:

https://forum.openoffice.org/en/forum/viewtopic.php?f=5&t=83014

[2018-10-08 22:15] #210 closed

[2018-10-08 22:16] tbaliance commented on #211
Not currently, not sure when/if I'll get around to doing this as it's not a quick fix.

[2018-10-12 10:28] l0rda opened #212 "Problem with spreadsheet.InsertRow"
## Description
There is a problem with spreadsheet.InsertRow.

![template](https://user-images.githubusercontent.com/2686935/46864177-3351aa00-ce22-11e8-92f8-05676c60250d.png)

1. we insert new row, number 2
2. rows after are renumbered
3. but merged cells still on the same row(3) like before, they are not moved down to line 4

[code]

## Expected Behavior
![expected](https://user-images.githubuse

[2018-10-12 13:15] joanbono opened #213 "[QUESTION] - Metadata"
Is it possible to get the file metadata?

Retrieve information like Autor/Date Created/Last Modified...

Thanks

[2018-10-14 21:37] l0rda commented on #212
Thanks. Now it works as expected.

Waiting for merge.

[2018-10-15 13:23] l0rda opened #215 "InsertRow: unsupported relationship xl/calcChain.xml"
## Description

There is another problem with InsertRow.

In our document we have cell D3, that contains any formula, that references D2, for example `=SUM(D2:D2)`.

After insert new row with number 2 i got error:

xl/calcChain.xml content:
[code]

I suppose that cell D2 is now D3(and contains number value), but calcChain.xml still contains formula for D3.

Working sample https://github.com/l0rda/

[2018-10-16 14:18] l0rda commented on #215
I tried to clear cell formula with `cell.Clear()` before inserting new row.
It does not help. I still see error:

![2018-10-16 16 49 28](https://user-images.githubusercontent.com/2686935/47022582-7c796500-d166-11e8-96db-4fe32586d2ab.png)

Also i tried to clear cells with formula without inserting new rows. And still get this error.
`cell.Clear()` does not correctly clear formula cells?

I tried to

[2018-10-16 21:55] tbaliance commented on #215
Try this branch and let me know if it works for you.  Before saving, you'll need to add a call to:
```wb.RemoveCalcChain()```

It's just a cache so Excel can recompute formula values more quickly, it's harmless to remove it.

[2018-10-17 07:47] l0rda commented on #215
Works now. Thanks

[2018-10-17 22:11] #215 closed

[2018-10-22 12:13] CR903 opened #217 "Microsoft office 2007 could not be opened"
Hello, the exported file can be opened in Microsoft office version 2013 and above, but now I can only use the 2007 version of the customer scenario, can you help me?

Please include a reproducible code snippet or document attachment that
demonstrates the issue.

[2018-10-22 13:19] Cycl0pe opened #218 "QuickPart (Add img from remote server)"
Hello,

Thanks for this beautiful library.

I was wondering if its was possible to add some QuickParts in a Word document through gooxml ? More precisely, I'm interested in adding an img from a remote server.

Thanks.

Cycl0pe

[2018-10-22 23:31] tbaliance commented on #217
@CR903 Sorry, Office 2007 uses a completely different file format.

[2018-10-22 23:31] #217 closed

[2018-10-28 17:06] tbaliance commented on #218
@Cycl0pe That's not a very commonly used feature, so we're probably not interested in adding it.  You can always download the image and then insert it.

[2018-10-28 17:06] #218 closed

[2018-10-29 09:13] murata2makoto opened #219 "Public review of the revision draft of Open Packaging Conventions of OOXML (ISO/IEC 29500-2)"
Allow me to post this issue, although it is not a bug report or feature request.  I am the convenor of an ISO committee (ISO/IEC JTC1/SC34/WG4), which maintains OOXML (ISO/IEC 29500).

We are revising Open Packaging Conventions of OOXML (ISO/IEC 29500-2) very thoroughly.  The biggest motivation for this revision is to address issues around part names, references, pack URIs, base URIs, resolution o

[2018-11-11 03:27] onepas opened #220 "How to replace text in docx file."
Hi,
How to replace text in docx file?

[2018-11-11 19:07] tbaliance commented on #219
Thanks for the invitation!

[2018-11-11 19:07] #219 closed

[2018-11-11 19:09] tbaliance commented on #220
You can iterate over the document paragraphs, runs and check the text.  See cmd/catdoc for an example of just dumping the text.

[2018-11-11 19:09] #220 closed

[2018-11-21 21:21] christopher-wong opened #223 "Document Mail Merge: fields inside tables ignored"
## Description
Mail Merge fields inside tables are ignored.

https://github.com/baliance/gooxml/tree/master/_examples/document/mail-merge

## Expected Behavior
Mail merge fields inside table should be merged with data like a normal field outside a table.

## Actual Behavior
Mail merge fields inside tables are ignored.

[mm-with-table.docx](https://www.dropbox.com/s/cz0njr6kjkwope4/mm-with-table.do

[2018-11-28 12:51] tbaliance commented on #223
@christopher-wong Test this out and let me know, the mm-with-table that you provided is a newer Word format that we don't support yet so I couldn't test it myself.

[2018-11-28 17:37] christopher-wong commented on #223
Looks like this works! I'm doing some more testing today and will follow up, but thanks for the quick turn around.

[2018-11-29 13:41] #223 closed

[2018-12-05 10:41] lipengpeng288 opened #225 "How to merge three cells or more in multiple rows on table of docx? i cannot found any doc or demos."
## Description

## Expected Behavior

## Actual Behavior

Please include a reproducible code snippet or document attachment that
demonstrates the issue.

[2018-12-07 02:21] lipengpeng288 commented on #225
I have fixed it . Thanks!

[2018-12-07 02:21] #225 closed

[2018-12-07 14:28] therox opened #226 "Is there any way I can rotate text in doc paragraph or sheet cell?"
## Description

## Expected Behavior

## Actual Behavior

Please include a reproducible code snippet or document attachment that
demonstrates the issue.

[2018-12-07 17:36] squallzhong opened #227 "How to get/set bookmark value in docx file?"
## Description
I can get the bookmarks in the following code:
...
	bookmarks := doc.Bookmarks()
	for _, fld := range bookmarks {
		fmt.Println("- Name:", fld.Name())
	}
....

but I can't Get/Set bookmark value，How to?

[2018-12-12 06:42] locxiang opened #228 "Can you support adding a world watermark?"
https://support.office.com/en-us/article/add-a-watermark-f90f26a5-2101-4a75-bbfe-f27ef05002de

[2018-12-12 19:42] tmjvonboss opened #229 "Headers seem to glitch when populating the template containing them"
## Description
I'm trying to populate a template.docx with text, the template just contains a header and a footer
I know that this library doesn't automatically add headers and footers into the output file, even if it originated from an input file that had them
So I manually add them in

* Text blurred in the screenshots below is just because of copyright and the text itself isn't the issue anyway

[2018-12-17 06:45] lipengpeng288 commented on #191
Hi!,how do you fixed it? I have a similar problem.

[2018-12-17 09:20] yaltachen commented on #191
@lipengpeng288
my solution: decode the jpeg firstly, and then encode it to png.
like this :
[code]

[2018-12-18 14:33] tbaliance commented on #227
What are you wanting to modify?  These are the only attributes on a bookmark internally in Word:

[code]

[2018-12-18 14:42] tbaliance commented on #228
It's not a common feature and not trivial to implement.  If a commercial customer expresses interest and wants to use their support hours, we can look into implementing it.

[2018-12-18 14:42] #228 closed

[2018-12-18 14:44] #211 closed

[2018-12-18 15:15] l0rda commented on #211
I hope you will add this in future.

[2018-12-18 17:51] squallzhong commented on #227
I want to add/replace text between bookmarkStart and BookmarkEnd.
ex:

C# code:
        Public Sub ChangeBookmarks(ByVal path As String)
            Try
                Dim doc As WordprocessingDocument = WordprocessingDocument.Open(path, True)
                 'Read the entire document contents using the GetStream method:

                Dim bookmarkMap As IDictionary(Of String, BookmarkStart) =

[2018-12-18 17:55] squallzhong opened #231 "How to merge two docx files in one"
## Description
I have two DOCX documents, A.docx/B.docx
I want to insert B.docx into the end of the A.docx document

How to?

[2018-12-19 01:20] #226 closed

[2018-12-19 06:06] sumingde0505 opened #232 "spreadsheet: row.SetHeight column.SetWidth no effect"
sheet.AddRow().SetHeight(20 * measurement.Point)
sheet.Column(1).SetWidth(20 * measurement.Point)
i use this code to set row height and column width, but it doesn't work.

[2018-12-20 06:48] universonic opened #233 "[QUESTION] How to change the line color in chart?"
Hello, this is an awesome project, and also, for operating Office files, it's the best Go library that I can find on GitHub.

I am now using it to generate a XLSX file that contains multiple line charts. I wonder that if there is a quick approach to change the default color assignment behavior on series line. If there is not, then is there a work around for it? Thank you.

[2018-12-23 20:25] mosesonline opened #234 "cell.AddTable produces not readable document"
## Description
When I add a table into a cell and open the document in word (Office 365) I get a message that the document is not readable. I can repair it and it looks good, but not out of the box.

## Expected Behavior

I can add a table into a cell without error when opening in Word. Maybe an working example with table in table.

## Actual Behavior

I cannot add a table into a cell without erro

[2018-12-24 15:21] tbaliance commented on #234
Validation doesn't detect all errors, but it does detect this one.  Add this:
[code]
and you'll see:
[code]

In this case, the paragraph must come after the table.
[code]

[2018-12-24 15:26] #234 closed, assigned to nobody

[2018-12-24 15:35] #232 closed

[2018-12-24 15:36] tbaliance commented on #232
Fixed, accidentally committed to master.

[2018-12-24 15:37] tbaliance commented on #231
@squallzhong No easy way to do this.  I'd be happy to accept a pull request if you implement this.

[2018-12-24 15:37] #231 closed

[2018-12-24 15:40] tbaliance commented on #227
You can look at ```func (d Document) Bookmarks() []Bookmark```, it shows how to iterate and extract bookmarks.  In doing so, you get the paragraphs and runs so you can add/remove/edit them.

[2018-12-24 15:40] #227 closed

[2018-12-24 15:41] tbaliance commented on #138
Closing this for now, I haven't been able to reproduce it on multiple versions of Word.

[2018-12-24 15:41] #138 closed

[2018-12-27 05:51] universonic opened #235 "Support custom RGBA color."
## Description

Current `color.Color` uses unexported fields, and it seems there is no way to specify custom RGBA colors by our own.

## Expected Behavior

Able to define RGBA color like:

[code]

## Actual Behavior

Could not define custom RGBA colors in other package.

Please include a reproducible code snippet or document attachment that
demonstrates the issue.

[2018-12-28 02:50] #235 closed

[2019-01-14 16:14] dmirogin opened #237 "Don't discover fields inside tables"
## Description
Hi, i'm trying to call
[code]
## Expected Behavior
found 4 fields
## Actual Behavior
found 3 fields

<img width="854" alt="2019-01-14 19 00 22" src="https://user-images.githubusercontent.com/5470439/51124915-7f9cf380-1830-11e9-884e-6a437f661d6e.png">

Field in table is not discovered.

[2019-01-16 03:13] nmjmdr opened #238 "InsertRowAfter seems to skip rows in Document"
## Description
When attempting to add Row after the second row in table of 3 rows, InsertAfterRow seems to be inserting row after the third row:
Code:
[code]
## Expected Behavior
The new row should be inserted after the second row

## Actual Behavior
The row is inserted after the the third row

Please include a reproducible code snippet or document attachment that
demonstrates the issue.

[documen

[2019-01-29 04:31] TimLiuDream commented on #225
can you share you sulotion？？

[2019-02-12 10:10] quanjin9099 opened #239 "How to center the title"
When generating a word document, I want to set the format of the title to be centered. How should I achieve this?

[2019-02-13 18:43] jesco19 opened #240 "MarshalXML and UnmarshalXML for a Worksheet"
I'm trying to figure out how to use the MarshalXML and UnmarshalXML for a worksheet, so I can make some changes to it.

The MarshalXML seems to work ok, with code similar to this

[code]

which does seem to print out valid out (to os.Stdout).

However if I try to do the reverse using unmarshalSheet, I end up with a corrupt document

[code]

I'm sure I'm doing something dumb here, has anyone done t

[2019-02-20 00:10] freb opened #241 "Unsupported purl.oclc.org"
## Description

I'm hitting a weird issue when updating `FldChar`'s. I need to replace the default text in some form fields. If I mark the fields as `dirty` or set `SetUpdateFieldsOnOpen(true)` and then select to update the entire table as prompted when the document opens, saving the result makes it unusable by gooxml. I get the following warnings and `doc.X().Body` is `nil`:

[code]

Digging thro

[2019-02-22 10:32] nkryuchkov commented on #241
Hello @freb , could you please show the code making changes?

[2019-02-27 00:03] freb commented on #241
Here is a Gist of the code:

https://gist.github.com/freb/459528c9cf205d56614df27cc99c854d

Let me know if you have any questions about it.

[2019-02-28 17:38] ArmandoZepeda opened #243 "Error after edit spreadsheet that contains images"
## Description
Error on output file when editing existing spreadsheet with an image.
## Expected Behavior
I need to add new rows to an existing excel report with an image logo on top.
## Actual Behavior
When the existing file is loaded an warning message is shown:
`skipping unsupported element on Workbook {http://schemas.openxmlformats.org/markup-compatibility/2006 AlternateContent}
`

At opening

[2019-03-04 07:56] nkryuchkov commented on #241
Hello @freb , please take a look at the PR. I added the test case with your doc and processing code. I can not reproduce your issue. If I take the "after.docx" you had provided, I see the issue, the doc body is nil. But if I run your code on the "before.docx" and open the resulting doc, the doc body is there, the namespace does not seem to be changed. I am willing to help you with your issue, so p

[2019-03-04 17:10] freb commented on #241
The issue with the new test case is that the namespace issue doesn't arise until after you have opened and saved the document with Word.

When I open the after.docx document after it was just created by the gist code, I'm presented with two dialogs boxes that I must respond to in order to get the references I added to the document to display, and also produce the issue I'm describing. I'm using th

[2019-03-09 10:05] MassimoMessina opened #245 "how to password protect an xlsx"
## Description
I'm not able to set a password to open a workbook. If we save a workbook, the function Save() is producing a zip file that is not in the format required for the protected xlsx. Anyhow, I tried to protect using the setPassword() but it doesn't make the trick.

## Expected Behavior

## Actual Behavior

Please include a reproducible code snippet or document attachment that
demonstrates

[2019-03-11 09:17] zarte opened #246 "[QUESTION] How to change the chart's style?"
now:
![未命名](https://user-images.githubusercontent.com/26562491/54112539-5f00ac80-4421-11e9-9f51-7ef9fe47694b.png)

this is i want
![未命名2](https://user-images.githubusercontent.com/26562491/54112562-6a53d800-4421-11e9-99d2-e0aa29c24fc8.png)

[2019-03-12 03:55] hulb opened #247 "cell range with sheet name not supported"
## Description
normal cell range like "A1:A6" is fine.But when it comes with the specific sheet like "Sheet1!A1:A6" or "Sheet1A1:Sheet1A6" will fail in grammar analyzation.
## Expected Behavior
When a expr like "Sheet1!A1:A6" or "Sheet1!A1:Sheet1!A6", it can be correctly analyzed.
## Actual Behavior
A parse error occurs

[2019-03-19 20:22] nkryuchkov commented on #241
@freb I found out what causes the issue and I'm working on a fix. I'll create a pool request soon and let you know

[2019-03-20 10:30] nkryuchkov commented on #241
Hello, @freb . It seems that purl.oclc.org is a namespace for the new document format. I believe that Word is kind of migrating the document schema to stick to the new one. This namespace describes doc structure really similar to the "http://schemas.openxmlformats.org/officeDocument/2006/..." one. I am working now on adding the "purl.oclc.org" support to the library. This way you will be able to o

[2019-03-20 16:33] freb commented on #241
Thanks for the update. I'm glad you were able to figure it out and are making progress.

[2019-03-20 18:13] seriallink opened #248 "[QUESTION] Is pivot supported?"
I saw some implementations but I wasn't sure if it's supported or not.

[2019-03-21 03:19] CR903 opened #249 "[QUESTION]How do I center the table cell"

[2019-03-22 07:27] preciselytom opened #250 "[FEATURE REQUEST] Support for in-memory images"
Hi!

I need some way to put images into a document without saving them to disk first. The application is a server that fetches text and images from a database and produces .docx files. The images come as []byte arrays and I would like to insert them directly into documents, rather than saving as temporary files, which is not only unnecessary but also an added security risk for a multi-tenant appli

[2019-03-27 06:32] systemcia opened #254 "the gooxml only work on windows, on linux it don't work"
## Description
all the examples work well on windows , but on linux some don't work
## Expected Behavior
i have ran the example pdf-export-ole , it's ok on windows , but have error on linux.
## Actual Behavior
1.i've got this error on linux :
2019/03/27 14:12:02 error creating Word object:
2.by the way the docx can be converted to pdf , can i reverse the pdf to docx ?

[2019-03-27 17:39] nkryuchkov commented on #241
Hello, @freb . I am almost finished with this issue, both of the documents you had provided can be opened with the library. Before I create a PR with this, is there any chance that you have more of the documents with this "purl.oclc.org" namespace? I would like to test the code properly

[2019-03-27 18:16] freb commented on #241
That's the only one I have that I know of. I could generate more, but I would just use the same method as the first, so I'm not sure that would be helpful.

[2019-03-28 00:35] gunnsth commented on #241
@freb When you save the file in Word. Do you specifically select to save the file in format "Strict Open XML format (\*.docx)"  rather than "Word Document (\*.docx)" ?

When I open after.docx I did not get any prompt about updating content, but clicking Save As, the strict option seems to come up by default.

For before.docx the default save option is "Word Document (\*.docx)".

[2019-03-28 23:49] freb commented on #254
That example can only be run on Windows, see this line: <https://github.com/baliance/gooxml/blob/master/_examples/document/pdf-export-ole/main.go#L14>.

That example requires Word to be installed. I can't speak to whether or not it would work if you installed Word with Wine on Linux since I've never had much luck with that setup.

[2019-03-28 23:59] freb commented on #241
@gunnsth I don't specifically select to save the document as "Strict Open XML format". After opening the document, I did a `Save`, not a `Save As`.

However, that is a good point you brought up. I just reviewed this and it turns out that after updating fields, it automatically changes the save type to `Strict Open XML format (*.docx)` so that when you save it, Strict is the new filetype. If do a `

[2019-03-29 19:31] freb opened #256 "Access Nested Tables"
## Description

I have a word document that was provided to me as a template. I decided to walk the unaltered document and insert bookmarks in various locations in order to keep track of them. I noticed some bookmarks were not being found, so I submitted PR #255. While working on that, I noticed that tables can be nested and so I wrote the code to account for that.

After implementing that, I real

[2019-03-30 09:33] #254 closed

[2019-04-01 23:29] gunnsth commented on #250
Closed by #251

[2019-04-01 23:29] #250 closed

[2019-04-01 23:42] gunnsth opened #258 "Infinite recursion with tables referencing each other"
## Description

Creating tables that refer to each other leads to infinite recursion.

## Expected Behavior

Exit with error code 1.

## Actual Behavior

Infinite recursion occurs.

### Snippet
Please include a reproducible code snippet or document attachment that
demonstrates the issue.

[code]

[2019-04-02 19:42] freb opened #259 "Getters for "d *Document" attribute."
## Description

All structs have a getter for `x`, to get the raw xml, but none have a getter for `d`, the document. I'm in the middle of writing a bunch of helper functions, and for any that require looping through the document elements (which is most of them), you have to pass the document in as well, even though it is already included in whatever parameter you are accepting (Paragraph, Cell, Ta

[2019-04-03 17:09] freb commented on #249
Do you mean center the text horizontally within the cell? You do this on the paragraph properties:

[code]

If you mean center it vertically, you use the cell properties:

[code]

[2019-04-03 22:25] gunnsth commented on #259
Can you provide an example? Seems to me that the Document would usually be accessible pretty easily? Even if need to provide as an extra parameter.  Could even embed document in a new type that the helpers methods are defined on.  Would be good to have an example to support the case.

[2019-04-03 22:27] gunnsth commented on #256
@freb Did #257 and #255 address all of those?

[2019-04-03 22:35] gunnsth commented on #248
@seriallink Pivot tables are currently not supported.
There have been some efforts toward this in the past that were not completed but should be a good foundation: https://github.com/baliance/gooxml/tree/pivot-tables

We may revisit this at a later point.

[2019-04-03 22:35] #248 closed

[2019-04-03 22:43] gunnsth commented on #249
This (and many other useful cases) is shown in the examples too:
https://github.com/baliance/gooxml/blob/32d0f798930b92a15044b3a566a889a3eac3ca88/_examples/document/tables/main.go#L93

[2019-04-03 22:43] gunnsth commented on #239
For example for centering etc see:
https://github.com/baliance/gooxml/blob/32d0f798930b92a15044b3a566a889a3eac3ca88/_examples/document/tables/main.go#L93

[2019-04-03 22:43] #239 closed

[2019-04-03 23:09] freb commented on #256
Yes, I'll close this.

[2019-04-03 23:09] #256 closed

[2019-04-03 23:35] freb commented on #259
There are no examples that cannot be worked around with the methods you suggest.

I reviewed the functions where I required a reference to `*Document` and discovered that they all relate to finding content within an existing document. I realized that I mainly have a need for these functions because there is no way to go from one element in the document to surrounding elements. For example, given a

[2019-04-03 23:35] #259 closed

[2019-04-04 11:05] mastermissing opened #262 "When is it support MathType and oMathML read and write"
## Description
# MathType
<w:object w:dxaOrig="1160" w:dyaOrig="320">
    ...
    <o:OLEObject Type="Embed" ProgID="Equation.DSMT4" ShapeID="_x0000_i1026" DrawAspect="Content" ObjectID="_1615119621" r:id="rId9"/>
</w:object>

# oMathML
<m:oMath>
...
 </m:oMath>
## Expected Behavior

## Actual Behavior

Please include a reproducible code snippet or document attachment that
demonstrates the issue.

[2019-04-09 09:31] JoeButler99 commented on #150
This issue seems to also exist when loading a document which contains an image in the header.
When I dug into this it seems that the image names within the document have changed, which may or may not be relevant.

doc, err := document.Open("master/template.docx")   // Image is "media/image1.png", first image in media

doc.SaveToFile("release/test1.docx") // Image is now "media/image10.png" and oth

[2019-04-12 21:43] the-goodies opened #263 "[QUESTION] How to copy or delete sheets?"
Is there a way to copy or delete an existing sheet? If anyone knows how to do that, example would be very appreciated.

[2019-04-15 10:47] gunnsth commented on #241
@freb We've been working on this issue quite a bit.  PR #265 implements the purl.oclc.org namespace such that gooxml can read those strict files.  Can you take a look at the PR and test?

We have not found out why Word chooses to save the files in the strict format. It seems to happen even if a single field is updated with the code that you provided.

[2019-04-15 10:58] #249 closed

[2019-04-16 07:43] qweawdqq opened #266 "Word with tables cannot replace content"
I want to replace some words in word. I find that if there is a table in word, the words in the table can not be replaced. Is there a solution?

[2019-04-16 08:44] gunnsth commented on #266
Please follow the issue format and post a minimal code example so we have something to work with.

[2019-04-16 08:44] #266 closed

[2019-04-16 09:29] qweawdqq opened #267 "word with tables connot replace content"
## Description
I want to replace some words in word. I find that if there is a table in word, the words in the table can not be replaced. Is there a solution?

## Expected Behavior
Normally replace labels in word

## Actual Behavior
As long as there are tables in the template, the contents of the tables can not be recognized and replaced.

### Example
The following column is the content of word

#

[2019-04-16 16:25] freb commented on #241
I just tested the PR with my example documents and it appears to work as expected.

[2019-04-24 21:59] l0rda commented on #211
Some helpers here:
https://github.com/l0rda/gooxmlhelpers

[code]

[2019-04-28 22:39] Savolro opened #268 "hyperlink text is not visible with run.Text()"
## Description
I am trying to read a .docx document with this package but contents of hyperlink are missing.

Contents in my document:
`this is some http://liynk.com to somewhere`

I am trying to simply read the document and print its contents to console:
[code]

## Expected Behavior
Expected:
`this is some http://liynk.com to somewhere`

## Actual Behavior
Output:
`this is some  to somewhere`

Is

[2019-04-29 02:42] lele012 opened #269 "bookmark"
How to set value of the bookmark (not the name) in document ?

[2019-04-29 06:26] Sathyavathi2018 opened #270 "Tls Issue"
# Description
Followed https://github.com/baliance/gooxml#installation.

# Expected Behavior
The package was fetched and added to my gopath.

# Actual Behavior
  We are suddenly receiving below error while compilation:

The following errors occurred while deducing packages:
  * "baliance.com/gooxml/schema/soo/wml": unable to deduce repository and source type for "baliance.com/gooxml/schema/soo/wml

[2019-04-29 07:04] boloboloda commented on #270
I have the same problem.
go version 1.12.

[2019-04-29 07:23] Soontao commented on #270
Same issue, seems SSL cert error

[2019-04-29 09:47] gunnsth commented on #270
@Soontao  @Sathyavathi2018  Should be fixed.  Please try again.

[2019-04-29 09:49] Soontao commented on #270
Nice, build passed.
Thanks for your help. :)

[2019-04-29 10:07] Sathyavathi2018 commented on #270
Thanks for the quick fix. Issue is resolved now.

[2019-04-29 10:56] #270 closed

[2019-04-29 15:32] #241 closed

[2019-04-30 09:29] Sathyavathi2018 opened #272 "gooxml Installation"
## Description

   With Reference to #270. Is there a way to install package from github rather baliance.com which will avoid referred issue in future

Current Installation
go get baliance.com/gooxml/
go build -i baliance.com/gooxml/...

Kindly, check and confirm.

[2019-04-30 09:58] gunnsth commented on #272
@Sathyavathi2018 As per our announcement on: https://github.com/baliance/gooxml
We will be moving the repository to https://github.com/unidoc/unioffice

Best,
Gus

[2019-04-30 10:42] Sathyavathi2018 commented on #272
@gunnsth : Thanks for the confirmation. Will wait till then.

[2019-05-04 13:56] gunnsth commented on #272
The repository has been moved to https://github.com/unidoc/unioffice and import path to github.com/unidoc/unioffice and package name is now unioffice.

[2019-05-06 08:55] nkryuchkov opened #276 "Implement MS-CFB container for full password protection"
## Description
Right now the password protection is implemented according to the ooxml specification. It works correctly but it is not intended to prevent the file from being opened without the password prompt. Password protected files should not be saved as zip containers, instead they should be saved as MS-CFB containers according to the following specification: https://docs.microsoft.com/en-us/

[2019-05-06 08:58] nkryuchkov commented on #245
After a bit of research I found out that the password protection right now works according to the ooxml specification, and, indeed, this does not change the file format itself. However with the current version you may prevent the sheets from being edited. To achieve this you should add the protection to each shit in this fashion:

[code]

Full password protection is related to #276

[2019-05-06 19:23] gunnsth commented on #245
@MassimoMessina Does that make sense?

[2019-05-06 19:31] nkryuchkov commented on #267
Hi, @qweawdqq . I do not see an issue here. To replace strings in the table contents you should loop through the doc's tables, rows and cells, like this:

[code]

[2019-05-06 19:33] #272 closed

[2019-05-06 19:34] gunnsth commented on #269
@lele012 Please post an issue using the prescribed issue format and include a code example as requested.

[2019-05-06 19:34] #269 closed

[2019-05-06 19:35] gunnsth commented on #268
@Savolro Please follow the issue format:
## Description

## Expected Behavior

## Actual Behavior

Please include a reproducible code snippet or document attachment that
demonstrates the issue.

Make sure to include full code snippet that we can run.

[2019-05-06 19:40] gunnsth commented on #229
@tmjvonboss Can you provide a sample file so we can reproduce the issue?

[2019-05-06 20:32] melignus opened #277 "[QUESTION] - subDocument TargetMode="external" relationship support"
I see that the subDoc anchor element is supported but not the http://schemas.openxmlformats.org/officeDocument/2006/relationships/subDocument relationship. I see the schema files in the repo are all tagged as generated, do not edit. Are there plans to include this relationship?

<subDoc> anchor with a <Relationship TargetMode="external"/> support is really the only barrier to completing a project

[2019-05-07 03:14] MassimoMessina commented on #245
Hi, yes, but this is not preventing to open the file, and the content can be read without password.
best
Max

[2019-05-07 14:37] ThunderLT opened #278 "how to get font name of run ?"
## Description
    I have tried  like this:
                        fmt.Print(r.Properties().Fonts().X().AsciiAttr)
			fmt.Print(r.Properties().Fonts().X().HAnsiAttr)
			fmt.Print(r.Properties().Fonts().X().EastAsiaAttr)
			fmt.Print(r.Properties().Fonts().X().CsAttr)
			fmt.Print(r.Properties().Fonts().X().AsciiThemeAttr)
			fmt.Print(r.Properties().Fonts().X().HAnsiThemeAttr)
			fmt.Print(r.Prop

[2019-05-07 14:47] gunnsth commented on #245
That is not possible at the present.  It requires implementation of #276.

[2019-05-07 14:47] #245 closed

[2019-05-07 14:48] gunnsth commented on #277
Please provide a full self-contained code snippet and an example document so this can be investigated.

[2019-05-09 08:43] nkryuchkov commented on #237
Hi, @dmirogin , opened a PR #280 fixing this. Tables were ignored in the underlying function fetching doc's paragraphs

[2019-05-09 08:44] nkryuchkov commented on #267
Hi, @qweawdqq . After a discussion changes were made to the underlying func, changes are published within the #280 . With these changes your code should work as it is

[2019-05-09 09:39] #278 closed

[2019-05-09 20:49] melignus commented on #277
`_, err := document.Open("Master.docx")`
returns the following error
`2019/05/09 13:40:01 unsupported relationship type: http://schemas.openxmlformats.org/officeDocument/2006/relationships/subDocument tgt: word/SubDoc.docx`

The following documents were created in Word and work as expected when building master documents composed of sub documents as described in the [ooxml spec.](https://c-rex.net/

[2019-05-09 21:39] melignus commented on #277
Here are the important embedded xml parts illustrating the relationship I'm hoping to be able to compose with unioffice. The subDoc anchor in the document body references the relationship with Id="rId6" in the relationship file. Its the subDocument relationship type that doesn't appear to be supported.

**Master.docx -> word/document.xml**
[code]
**Master.docx -> word/_rels/document.xml.rels**
[co

[2019-05-10 15:54] nkryuchkov commented on #263
Hi @the-goodies , I added the removing functions and ready to publish a PR, but it is not clear for me how you expect the copying to work. Could you please describe its functionality?

[2019-05-10 16:15] the-goodies commented on #263
Well i'm not sure about the exact API, but given an existing sheet's name and a new name: create a new sheet which is a duplicate of old sheet. I need to create a spreadsheet which has 4-5 sheets depending on the amount of weeks in a month and want to fill first weeks sheet, then duplicate that sheet to a second week and do some modifications specific to that week.
If i can delete a sheet, then in

[2019-05-11 16:07] #237 closed

[2019-05-12 12:12] #263 closed

[2019-05-14 08:59] Sathyavathi2018 opened #282 "Unidoc/UniOffice Compilation Issue due to internal reference in vendor"
## Description
With Reference to #272 .
After the latest github package installation. We are receiving below error
Current Installation
go get  github.com/unidoc/unioffice/
go build -i  -i github.com/unidoc/unioffice/...

**Error Received:**
cannot use img (type "github.com/gellyn/gastrayda/server/vendor/github.com/unidoc/unioffice/common".Image) as type "baliance.com/gooxml/common".Image in argum

[2019-05-15 05:41] Sathyavathi2018 commented on #282
Hi, Do we have any update on this?

[2019-05-15 12:39] niyaza3 opened #283 "Support for html markup"
## Description
Is there a plan for the word document package to support html tags or how i can impliment the print the below in creating word

`<b>Bold first</b><div><i><b>Bold second</b></i></div><div><i><b>There are so many of us </b>asasas</i>asas<i>asasasasas<u>asasasa</u></i></div><div><i><u><br></u></i></div>`

## Expected Behavior
The above html string should display as bold, italic , under

[2019-05-15 17:13] nkryuchkov commented on #282
Hi @Sathyavathi2018 . I followed the steps you hade provided and everything works fine to me. It seems like some old code in you project still references old import paths. Probably you should check it out

[2019-05-16 13:22] backkem opened #284 "Text extraction"
## Description
We want to extract all text from office documents for further processing. We're already doing this with unidoc and would like to have the same capability in unioffice. Preferably avoiding the need for custom parsing of each document type. Maybe I missed something and this is already available? If not, would you conciser supporting this use-case?

## Expected Behavior
Preferably we h

[2019-05-22 10:26] Sathyavathi2018 commented on #283
Hi, Do we have any update on the above ticket?

[2019-05-22 11:52] Sathyavathi2018 commented on #282
Hi ,

   It worked after importing parent package as referred  below:
        _ "github.com/unidoc/unioffice"
	"github.com/unidoc/unioffice/color"
	"github.com/unidoc/unioffice/common"
	"github.com/unidoc/unioffice/document"
	"github.com/unidoc/unioffice/measurement"

	"github.com/unidoc/unioffice/schema/soo/wml"

We are good after the above implementation.

[2019-05-27 11:28] maxnilz opened #285 "Go module download failed"
## Description
[code]
## Expected Behavior
download pkg successfully

## Actual Behavior

[code]

[2019-05-27 22:19] gunnsth commented on #285
A new version has been tagged which should fix this issue.

[2019-05-28 01:55] maxnilz commented on #285
Thanks for your quick reply.

After I got this error, I tried `go get github.com/unidoc/unioffice@none` first and `go get github.com/unidoc/unioffice` again, then I got a new version and the issue disappeared.

[2019-05-28 01:55] #285 closed

[2019-05-29 12:48] yungsem opened #287 "Ability to merge docx files"
Will it be possible for you to add docx merging api ?
I know this is a very difficult and heavy job, but I really look forward to seeing you add this funciton.
Hope for your reply. Thank you.

[2019-05-29 22:21] #282 closed

[2019-05-31 10:43] the-goodies opened #288 "Copied sheet mirrors old one"
All copied sheets reference the same underlying one. So modifying any sheet, it applies to all of them.
[code]

Correct result: "Sheet 1:A1" - "one"; "Sheet 2:A1" - "two" ; "Sheet 3:A1" - "three".
How it is now: "Sheet 1:A1" - "three"; "Sheet 2:A1" - "three" ; "Sheet 3:A1" - "three".

[2019-05-31 10:49] the-goodies opened #289 "AddSheet functions description is wrong"
[code]

Even though i can't provide a name for the new sheet.

[2019-06-04 20:22] FourShore opened #290 "Document Mail Merge: Can not find field in a text box also generated file is corrupted"
## Description
When doing a document mail merge an a file that has a text box the merge fields in the text box do not get injected. Also the resulting file is unopenable by word.

## Expected Behavior
Merge fields in the text box to be injected with the value

## Actual Behavior
See above

Please include a reproducible code snippet or document attachment that
demonstrates the issue.

[issue.docx](

[2019-06-06 14:44] mec07 opened #292 "go runtime panic"
## Description
Came across a runtime panic when trying to make a presentation using a template.

## Expected Behavior
No runtime panic!

## Actual Behavior
The following code:
[code]
lead to the following (I ran the code from a test):
[code]
Unfortunately I can't put the template in this as it's not my property, but I have made a fix for this, with a working example test that triggers the runtime

[2019-06-06 20:13] fharding1 opened #293 "[Feature Request] Tables in presentations"
There's currently no way to insert tables into presentations. It would be nice to be able to do that.

[2019-06-11 07:22] zhangpy opened #296 "can't access table in header in 1.1.0 version"
## Description
![x](https://user-images.githubusercontent.com/52045/59251392-48eecc00-8c5c-11e9-9164-3b756f25abf3.png)

## Expected Behavior
doc.Tables() or Paragraphs() should access the table in header.

## Actual Behavior
[code]

Please include a reproducible code snippet or document attachment that
demonstrates the issue.
[abc.docx](https://github.com/unidoc/unioffice/files/3275167/abc.docx)

[2019-06-12 11:25] eleztian opened #297 "template is not work"
## Description
running the example use-template, when i edit the template.docx, zhe use-template.docx's style will lost。
## Expected Behavior

## Actual Behavior

Please include a reproducible code snippet or document attachment that
demonstrates the issue.

[2019-06-12 11:30] eleztian opened #298 "template is not work"
## Description
When using the use-template in example, when I edited template.docx with office 365, the style of the new generated use-template.docx will be lost.

## Expected Behavior

## Actual Behavior

Please include a reproducible code snippet or document attachment that
demonstrates the issue.

[2019-06-12 11:30] #297 closed

[2019-06-14 18:35] #267 closed

[2019-06-14 18:42] nkryuchkov commented on #284
Hello @backkem ! Could you please take a look at the func suggested with the #300 ? This is a prototype for now, I think we could use your feedback to improve it

[2019-06-16 03:39] elonzh opened #301 "document: fails to handle table in text box"
## Description

using unioffice open the file then save it can reproduce this issue

[table_in_text_box.docx](https://github.com/unidoc/unioffice/files/3293807/table_in_text_box.docx)

## Expected Behavior

open the file as normal.

## Actual Behavior

The Word app says cannot open the file

lib version: github.com/unidoc/unioffice v1.2.0
word version:
![image](https://user-images.githubuserconten

[2019-06-17 18:27] #289 closed

[2019-06-19 08:56] iris13579 commented on #213
Hi @tbaliance,
I hope to update the "custom" properties in the metadata of a .docx file. Is there any example? Very appreciated.
![image](https://user-images.githubusercontent.com/49423902/59751509-3a835e80-92b3-11e9-8683-fb3bea1aa7d8.png)

[2019-06-19 09:05] iris13579 commented on #213
I noticed the exact case has been considered in baliance.com\gooxml\schema\soo\ofc\docPropsVTypes\Vector.go.
But I've no idea how to use it to update the "custom" properties in the metadata.
![image](https://user-images.githubusercontent.com/49423902/59752186-7539c680-92b4-11e9-8747-1ae9de21ff3f.png)

[2019-06-21 02:24] iris13579 opened #302 "[QUESTION] The "custom" properties in metadata"
Hello,
I hope to update the "custom" properties in the metadata of a .docx file. Is there any example?
![image](https://user-images.githubusercontent.com/49423902/59893106-58b1a180-940e-11e9-97d9-5118f671119d.png)

I noticed the exact case was considered in baliance.com\gooxml\schema\soo\ofc\docPropsVTypes\Vector.go.
But I've no idea how to use it in my code.
![image](https://user-images.githubuse

[2019-06-21 18:29] nkryuchkov commented on #296
Hello @zhangpy ! Please try out the version in #303 , it should work. Also added the corresponding tables handling to the `Footer`' version of `Paragraphs`

[2019-06-21 19:43] gunnsth commented on #290
@FourShore  Can you please include the code snippet that you are using for the "mail merge" so we can reproduce the issue.

[2019-06-24 18:47] nkryuchkov commented on #298
@eleztian please attach the code snippet and a doc example so we can reproduce the issue

[2019-06-24 21:37] #296 closed

[2019-06-25 19:42] FourShore commented on #290
func Inject(file []byte, data map[string]string) ([]byte, error) {
	d, err := document.Read(bytes.NewReader(file), int64(len(file)))
	if err != nil {
		return nil, err
	}

	d.MailMerge(data)

	b := &bytes.Buffer{}

	err = d.Save(b)
	if err != nil {
		return nil, err
	}

	return b.Bytes(), nil
}

[2019-07-03 15:11] mintzhao opened #304 "How to add Header on odd/even pages only?"
## Description
I want to add header depends on odd or even page. But I don't know how long a para last. Maybe a para can last 2 or 3 pages.

## Expected Behavior
One place to set header depends on odd or even page.

## Actual Behavior
confused to code.

Please include a reproducible code snippet or document attachment that
demonstrates the issue.
[code]
[code]
Where should I put these two codes in

[2019-07-04 10:50] mec07 commented on #292
This was fixed by #291

[2019-07-04 10:50] #292 closed

[2019-07-04 10:52] mec07 commented on #293
This is a feature that we really want as well. It would be great to be able to insert them at the table template placeholder.

[2019-07-05 07:53] mintzhao commented on #304
Any one knows?

[2019-07-06 19:04] aibolorazbekov opened #305 "Filling out the form fields: issue with paragraph containing several form fields"
## Description
I'm trying to fill out the form fields using `SetValue` method.  The document that i'm working with, contains several paragraphs. The paragraphs contains several form fields.
[https://i.ibb.co/RDzvSQG/25.png](url)
## Expected Behavior
I want to fill out all of the form fields in the document. And here is the code i'm running:
[code]
## Actual Behavior
However, not all of the form fi

[2019-07-10 18:48] 5andr0 commented on #284
@nkryuchkov This doesn't cover TextBoxes. Is there a way to get/edit Text inside TextBoxes?

[2019-07-22 11:34] gunnsth commented on #302
@iris13579 This has been implemented in PR #307.  Can you check and verify that it resolves your case?

[2019-07-23 01:36] iris13579 commented on #302
@gunnsth
I have made changes locally to support custom metadata and it works on my code. But still very appreciate. Can I join the code-review activity?

And I have another request to insert one docx file into another one. More details of the request can be found at https://forum.golangbridge.org/t/how-to-insert-an-object-into-a-word-document-with-go/13794
Do you have plan to implement this featur

[2019-07-23 10:51] mec07 opened #310 "Templated slide numbers on presentation are not appearing on output"
## Description
I have a template with slide numbers templated onto the master slides. I remove the slides and just use the templates. When I then output the presentation the slide numbers are no longer there.

## Expected Behavior
The templated slide numbers remain in the templates.

## Actual Behavior
The templated slide numbers are stripped out of the template.

Simplified version of what I'm do

[2019-07-23 14:18] mec07 commented on #293
@gunnsth @nkryuchkov I've been looking at the library, trying to work out why tables aren't a trivial extension to `presentation`. It seems like the `pml` schema is missing tables. I don't know why, because they exist within the open office xml schemas: http://officeopenxml.com/drwTable.php

How exactly are the schema files generated? At the top of each schema file it says:
[code]
What is the ECMA

[2019-07-24 09:58] mec07 commented on #310
I've just created an example repo that demonstrates this problem: https://github.com/mec07/slide-numbers

[2019-07-25 11:34] gunnsth commented on #305
@aibolorazbekov Can you check and confirm that PR #311 addresses this issue?

[2019-07-25 11:39] gunnsth commented on #302
@iris13579 Sure, please join the code review.
Can you file an issue for embedding the docx file?

[2019-07-31 07:38] iris55 opened #313 "How to embed the docx file to another one?"
## Description
Hi,
I have a request to embed the docx file to another docx file.
Do you have any plan to implement this? Thank you~

## Expected Behavior
Embed the docx file as shown in the figure.
![image](https://user-images.githubusercontent.com/49423902/62192679-9d830d80-b3a8-11e9-8d35-2e42e4637ebf.png)

## Actual Behavior
Not supported.

[2019-07-31 07:40] iris13579 commented on #302
Hi @gunnsth ,
https://github.com/unidoc/unioffice/issues/313 is created for embedding the docx file.
Thank you!

[2019-07-31 07:44] #302 closed

[2019-08-07 09:18] Songjiadong opened #315 "can not open the word demo file"
## Description
I am used to your demo unidoc\unioffice\_examples\document\use-template\main.go,and run successly about your demo,but don't open the file（use-template.docx） which is created by demo. my system environment includes （office 2016， win10）
![图片](https://user-images.githubusercontent.com/46697885/62610802-f4538e80-b936-11e9-8fc4-895cdeaedfaf.png)

## Expected Behavior

## Actual Behavior

[2019-08-10 11:48] zzy444626905 opened #316 "how to open the"
## Description

## Expected Behavior

## Actual Behavior

Please include a reproducible code snippet or document attachment that
demonstrates the issue.

[2019-08-10 11:49] zzy444626905 opened #317 "how to open a word file with password"
how to open a word file with password

[2019-08-10 11:50] #316 closed

[2019-08-14 11:08] stdatiks opened #318 "[spreadsheet] Cell.SetFormulaArray don't work"
## Description
Cell.SetFormulaArray method not apply array function type.

||A|B|C|
|---|---|---|---|
|1|test A|10||
|2|test B|20||
|3|test A|30||
|4|test B|40||
|5||||
|6|result test A|?||
|7|result test B|?||
|8||||

[code]

## Expected Behavior
||A|B|C|
|---|---|---|---|
|1|test A|10||
|2|test B|20||
|3|test A|30||
|4|test B|40||
|5||||
|6|result test A|10||
|7|result test B|40||
|8||||

## Act

[2019-08-19 18:29] 5k3105 opened #319 "[document] Unlicensed version of UniOffice"
## Description
'go build' any project in _examples\document folder returns:
[code]
spreadsheet examples work fine and do not return the licence warning.
## Expected Behavior
open docx correctly.
## Actual Behavior
produced document says 'unreadable content'.

[2019-08-25 08:11] mintzhao commented on #304
Any one?

[2019-09-04 14:59] tafarifilho commented on #319
+1

[2019-09-05 20:46] devarsh opened #320 "Support for Tracking changes in Paragraph"
## Description
I was going through the properties in `Paragraph` but there is no property in the structure to add <w:ins> and <w:del> child property and then add `run` to those properties like how *MS Word* keeps tracks of text changes in the word document.

Below is the code snippet and the generated output and the output generated from Microsoft word.
[code]

Output :
[code]

## Expected Behavio

[2019-09-09 09:26] vontrop opened #322 "生成的word文件一个都打不开，是不是有一些问题"
## Description

## Expected Behavior

## Actual Behavior

Please include a reproducible code snippet or document attachment that
demonstrates the issue.

[2019-09-10 05:24] mchusovlianov opened #323 "Update fields dialog in TOC example"
I tried to use your example for a TOC and I receive this dialog every time when I open a file.
![image](https://user-images.githubusercontent.com/196578/64586158-9ac30180-d3c5-11e9-88f2-535b732b87d6.png)

I use this example - https://github.com/unidoc/unioffice/tree/master/_examples/document/toc . Is there a way how to avoid that?

[2019-09-20 20:06] #322 closed

[2019-09-20 20:10] #305 closed

[2019-09-20 20:30] gunnsth opened #324 "Problem with Excel spreadsheet calculations"
## Description

A bug report was received via email.

## Expected Behavior
The workbook would calculate values and display correctly.

## Actual Behavior
Some functions not working.  Problem in formula parser.

A private excel workbook was attached for debugging.

[2019-09-21 03:19] tsxylhs opened #325 "The WPS directory is not displayed"
## Description

## Expected Behavior

## Actual Behavior

Please include a reproducible code snippet or document attachment that
demonstrates the issue.

[2019-09-21 10:13] tsxylhs opened #326 "toc 目录不显示问题。与文件打不开问题"
## Description
mac环境下，生成docx文档wps可以打开，但是不显示目录，windows直接打不开
## Expected Behavior

## Actual Behavior

Please include a reproducible code snippet or document attachment that
demonstrates the issue.

[2019-09-21 10:13] #325 closed

[2019-09-21 10:14] tsxylhs commented on #325
new comment

[2019-09-21 11:10] gunnsth commented on #326
Please only post issues in English.

[2019-09-21 11:10] #326 closed

[2019-09-24 18:52] SkippOtter opened #327 "Microsoft Excel does not recognize zero-indexed column widths"
## Description
Excel gives an error stating there was a problem with the workbook when column widths are set, and offers to recover. It seems to be related to the columns being indexed from 0 by unioffice when Excel wants them indexed from 1. Manually changing the index from 0-4 to 1-5 fixes the error.

After recovery the message is:
Removed Records: Column information from /xl/worksheets/sheet1.x

[2019-09-24 19:03] SkippOtter commented on #327
It's fixed by adding 1 to this line
[code]
making it
[code]
`reference.ColumnToIndex()` is returning a 0 based column index, but Excel expects a 1 based column index.

[2019-09-24 19:03] #327 closed

[2019-09-26 08:34] zhexiao commented on #315
I have the same problem. Using the demo code to generator Simple Text Formatting (simple.docx) successfully。 But my system cannot open that file. (win10, office 2016)

[2019-09-26 08:35] zhexiao commented on #315
[simple.docx](https://github.com/unidoc/unioffice/files/3656745/simple.docx)

[2019-09-26 09:59] zhexiao opened #328 "OleObject support!!!!!!"
## Description
I have a case that need parse OLEObject, hope you can suppert that ASAP.

## Expected Behavior

        case unioffice.OLEType:
		for _, f := range files {
			if f == nil {
				continue
			}

			if f.Name == target{
				path, err := zippkg.ExtractToDiskTmp(f, d.TmpPath)
				if err != nil {
					return err
				}

				f, err := os.Open(path)
				if err != nil {
					fmt.Println(err)

[2019-09-26 10:05] zhexiao commented on #328
Also, i have worked on the OleObject to latex code. Hope this can help you guys to convert OleObject to latex string.

git: https://github.com/zhexiao/mtef-go

[2019-09-29 22:14] rillig opened #329 "Cannot open generated document in Microsoft Word 2010"
## Description

Something in commit 26d9caa6f801ddf86869920bef9638d5ea1ff4d3 broke the support for Microsoft Word 2010.

With the code from commit f7abdfa23d4825ac30d95cae4d6949298ca5149a I generated a document, and I can open it in Word.
With the code from commit 26d9caa6f801ddf86869920bef9638d5ea1ff4d3, I get this error message:

* [go2doc.go.txt](https://github.com/unidoc/unioffice/files/366818

[2019-10-01 10:06] fish2016 opened #331 "which API can make title centered(horizontal align center;)"
## Description
which API can make title centered????

![image](https://user-images.githubusercontent.com/18462875/65953318-4831ae00-e476-11e9-96cd-50055abcfcd7.png)

[2019-10-02 14:00] gunnsth commented on #315
This has been addressed in PR #330 and merged into master. Would appreciate if you can confirm that this fixes the issue.

[2019-10-02 14:00] gunnsth commented on #323
This has been addressed in PR #330 and merged into master. Would appreciate if you can confirm that this fixes the issue.

[2019-10-02 14:00] gunnsth commented on #329
This has been addressed in PR #330 and merged into master. Would appreciate if you can confirm that this fixes the issue.

[2019-10-02 14:54] rillig commented on #329
Confirmed. Thank you for fixing it.

[2019-10-03 02:51] fish2016 commented on #331
I can find the function “SetVerticalAlignment(v sharedTypes.ST_VerticalAlignRun) ”， but can NOT find the function about Horizontal aligment

[2019-10-03 05:02] fish2016 commented on #331
I have found the solution
For example for centering etc see:
https://github.com/baliance/gooxml/blob/32d0f798930b92a15044b3a566a889a3eac3ca88/_examples/document/tables/main.go#L93

[2019-10-03 05:02] #331 closed

[2019-10-08 03:58] zhexiao commented on #315
Thanks, will try it again. Let you know when it's ok.

[2019-10-08 09:47] sify21 commented on #319
Also the .docx files in _examples\document contain the same warning.

[2019-10-09 06:47] zhexiao opened #332 "ImageRef do not have relId"
## Description
1. read image data

[code]

2. call func

[code]

3. struct

[code]
## Expected Behavior
Image have relID.
## Actual Behavior
Image do not have relID.

Please include a reproducible code snippet or document attachment that
demonstrates the issue.

[2019-10-09 08:25] sify21 opened #333 "[document] setWidthPercent has no effect on cells"
## Description
I'm reading the document table examples ( unioffice/_examples/document/tables/main.go ). The fifth table is not working as I expected. The code is:
[code]
## Expected Behavior
The 'hello' cell should take up 1/4 of total width, and 'world' cell takes up 3/4.
## Actual Behavior
'hello' and 'world' cell each takes up half of the total width.

The document is in the repository:  unioff

[2019-10-09 14:00] #328 closed

[2019-10-11 08:42] gunnsth opened #336 "Improved support for Excel formula functions"
## Description
The coverage of Excel formulas needs improving.  Below is an overview of functions that are missing.  We will create further tickets to implement those in stages.

Currently the following functions have been reported as *not working*:
[code]

Based on tests, the following functions were reported as working:
[code]

and the following ones need more investigation:
[code]

## Expected

[2019-10-11 08:59] gunnsth opened #337 "Excel formula functions: Batch 1"
## Description
Based on #336 the task is to implement and create testcases for the following functions:

- [x] CELL
- [x] CHOOSE
- [x] COLUMN
- [x] COLUMNS
- [x] COUNTIF
- [x] COUNTIFS
- [x] CLEAN

- [x] VALUE
- [x] ROW
- [x] ROWS

- [x] VLOOKUP (?)
- [x] LOOKUP
- [x] INDEX
- [x] MATCH
- [x] MAXA
- [x] MAXIFS
- [x] MINA
- [x] MINIFS
- [x] LARGE
- [x] LOWER
- [x] SMALL

- [x] IFS

- [x] OFFSET

- [

[2019-10-12 07:32] liangsssttt opened #338 "添加全局样式的样式的时候发现。貌似document.ParagraphStyleProperties 没有Spacing方法设置行距"
## Description
描述如标题
## Expected Behavior
希望添加全局样式的时候对于段落样式的设置可以设置：行间距
## Actual Behavior
无法设置行间距。只能设置段前和段后间距

后来直接在源码中document.ParagraphStyleProperties

添加方法：
func (p ParagraphStyleProperties) Spacing() ParagraphSpacing {
	if p.x.Spacing == nil {
		p.x.Spacing = wml.NewCT_Spacing()
	}
	return ParagraphSpacing{p.x.Spacing}
}

即可解决问题。。-。-

Please include a reproducible code snippet or document atta

[2019-10-12 12:08] gunnsth commented on #338
English please.

[2019-10-12 12:08] #338 closed

[2019-10-14 03:27] hone1st opened #339 "Paragraph line spacing and indentation"
## Description
I want to add some styles to the overall picture. However, it was found that line spacing could not be set in paragraph style. And you can't indent first. So, I tried to add the method of setting line spacing and the method of first line indentation to the source code.

## Expected Behavior
Expected to be able to set line spacing of a paragraph.

## Actual Behavior
func (p Paragraph

[2019-10-19 19:28] mr-kashif opened #341 "Equations in docx"
How to write equations in .docx using this library?

[2019-10-24 19:37] stephenfriedman opened #343 "Reading from .pptx files"
## Description
This is really just a question. Can the `unioffice/presentation` package be used to read text from a .pptx file? I have walked through the example where one can write to a file. I want to be able to extract text from .pptx files. I was hoping that my code as follows would be a way to get some text off a slide. But this method does not seem to return any text. Is trying to use this l

[2019-10-28 23:34] fork-while-fork opened #344 "[Feature Request] "Format as Table" for spreadsheets"
From what I gather, there isn't currently a way to use the table formatting (alternating line colors that persist despite row sorting) with spreadsheets. Am I correct? If so, are there plans to implement this feature?

Thanks

[2019-10-31 15:29] devarsh commented on #283
Something I've been working on, might suit your needs https://github.com/devarsh/miniApps/tree/master/wordTemplate/parser

[2019-11-01 11:58] lorddang opened #346 "How to add line for header"
## Description
I want to add line for header , but couldn't find any method to do it.
## Expected Behavior
![image](https://user-images.githubusercontent.com/21157317/68023319-d30a0080-fce1-11e9-9db1-58a5b9abc6c0.png)

## Actual Behavior
...

[2019-11-05 14:20] zgordan-vv commented on #337
Some functions from list are discovered as already working (I just couldn't make them work when tested):

CLEAN
VLOOKUP

Will add more if discover

[2019-11-07 06:21] Songjiadong opened #347 "a problem about function Cells() of spreadsheet which is wrong when I Get length value"
## Description
a problem about function Cells() of spreadsheet which is wrong  when I Get length value

	ss, _ := spreadsheet.Open("expert.xlsx")
	sheets := ss.Sheets()
	for _, item := range sheets[0].Rows() {
             cells:=item.Cells()
               log.Println(len(cells))
		for _,cellItem:=range cells{
			log.Println(cellItem)
		}
	}
![图片](https://user-images.githubusercontent.com/4669788

[2019-11-12 15:54] mchusovlianov commented on #323
@gunnsth hey! I've checked  and it looks the issue is still there.

[2019-11-14 00:12] probonopd opened #349 "Images disappear from presentation"
## Description

When working on a presentation using a template, it gets corrupted. As a result, when opening in PowerPoint, PowerPoint will "repair" the file but the references to images are lost. According to the pptx file size, the pictures are still in the file, but they don't show up in the presentation anymore.

## Expected Behavior

Pictures stay where they are when working with templates.

[2019-11-15 03:20] Songjiadong opened #350 "How to set page rotation in document"
## Description
how to set page rotation based on document using unioffice
![图片](https://user-images.githubusercontent.com/46697885/68914526-d4cfcb80-0799-11ea-8719-5dad34007bab.png)

## Expected Behavior

## Actual Behavior

Please include a reproducible code snippet or document attachment that
demonstrates the issue.

[2019-11-18 20:39] #298 closed

[2019-11-18 20:40] #315 closed

[2019-11-18 20:58] gunnsth commented on #341
Duplicate of #262.  Although this one emphasizes that any equations support should have an easy to use package for creating formulas etc.

[2019-11-18 20:58] #341 closed

[2019-11-18 21:00] gunnsth commented on #262
Support for equations should have an easy API to work with, perhaps some LaTeX like formatted string input would be ideal.  At least that makes sense in generation mode, not sure what makes sense in read mode.

[2019-11-18 21:03] gunnsth commented on #349
@probonopd Can you post a full self-contained example that can be used to reproduce the issue?

[2019-11-18 21:06] gunnsth commented on #240
@jesco19 What are you trying to achieve?  Why are you accessing the Marshal/Unmarshal XML functions?  Generally that should not be needed.

[2019-11-18 21:07] gunnsth commented on #347
@zgordan-vv Can you check if our updated functions cover this ?

[2019-11-18 21:09] gunnsth commented on #247
@hulb Range as used into input into which functions ?  Can you post a self-contained example that reproduces this?

[2019-11-18 21:12] gunnsth commented on #344
@fork-while-fork Can you post a self-contained example that showcases this?  Are you aware whether this is a feature of the OOXML standard or whether such formatting needs to be manually applied?

[2019-11-18 21:14] gunnsth commented on #246
@zarte Can you please post a self-contained example?  Are these charts in an Excel file that you are trying to modify?

[2019-11-18 21:16] gunnsth commented on #318
@zgordan-vv Can you check if the recent work on functions addresses this?

[2019-11-18 21:20] gunnsth commented on #243
@ArmandoZepeda Please post a full self-contained example with the code that takes inputFile.xlsx and produces outputFile.xlsx so we can reproduce this.

[2019-11-18 21:23] gunnsth commented on #288
Looks like this requires a deep copy of the sheet contents.  Maybe a new function called DeepCopySheetByName to keep compatibility.

[2019-11-18 22:01] gunnsth commented on #339
@liangsssttt Do you have any suggestion what you would expect the API for this to be?

[2019-11-18 22:14] gunnsth commented on #268
@Savolro Can you post a full self-contained example containing a docx file to and we can run just with `go run example.go` ?  Your question may depend on how the link is created, i.e. what kind of object it is represented with etc, thus it is important to have the docx file too.

[2019-11-18 22:24] gunnsth commented on #313
Looks like a duplicate of #277 which is more specific, i.e. support embedding another docx file via subDocument relation.

[2019-11-18 22:24] #313 closed

[2019-11-18 22:32] gunnsth commented on #277
It seems like writing/generation of documents with this subDocument relationship would be fairly easy if the subDocument is just a path/filename and no knowledge of the contents.

Reading/parsing is more tricky, as for example one would expect text extraction to go get contents within the embedded subdocument. In that case also, it would not be appropriate to access any files outside the same fold

[2019-11-18 22:52] gunnsth commented on #287
Needs some investigation into what docx merging requires.  Off the top of my head:
- An easy, quick way could be via subdocument embedding (#277) with a master file referencing the others.
- More proper way would require loading each file, and copying to the master file, keeping all ids unique.  Page overlap could happen between documents as docx does not have page concept. Perhaps could force eac

[2019-11-18 23:11] gunnsth commented on #317
@zzy444626905 That depends on what kind of password protection is used.  Can you post an example file?

Related: #276

[2019-11-18 23:15] gunnsth commented on #276
Related https://github.com/richardlehane/mscfb

[2019-11-19 12:58] zgordan-vv commented on #347
The issue is not related to formulas, I will look closer for exact reason.

[2019-11-19 13:02] mkhan-kilabs commented on #349
I have the same issue. I tried with the ppt template example - https://github.com/unidoc/unioffice/tree/master/_examples/presentation/use-template
and the image disappeared from the mod.pptx

[2019-11-19 15:43] zgordan-vv commented on #318
No, these functions were already applied before the recent work.

The other thing is that "MIN(IF(A1:A4=A6,B1:B4))" which is noticed here doesn't work in Excel and LibreOffice as well (with the data given in the post and with another one), showing #VALUE!

[2019-11-19 16:24] stdatiks commented on #318
Because these are [array formulas](https://www.vertex42.com/blog/excel-formulas/array-formula-examples.html)?

[2019-11-19 17:34] probonopd commented on #349
Yes, it also happens in the official example in `_examples/presentation/use-template/`.

Original `template.pptx` template on top, modified `mod.pptx` after running the `use-template` command below.

![bug](https://user-images.githubusercontent.com/2480569/69170667-64ef7700-0af2-11ea-9a53-8baacb257c45.png)

The Screenshots are made using SoftMaker Office but the same effect can be observed using P

[2019-11-20 23:52] gunnsth commented on #336
Categorization of functions:
https://support.office.com/en-us/article/excel-functions-by-category-5f91f4e9-7b42-46d2-9bd1-63f26a86c0eb

[2019-11-21 11:23] hulb commented on #247
I just test the latest code and the problem I issued before doesn't exist. You guys must fix it. I'll close this issue.

[2019-11-21 11:23] #247 closed

[2019-12-02 09:12] luoyechendian commented on #350
在创建文档后，插入段落前加入以下代码即可：
[code]
我这里设置的是A4纸大小，适中页面边距和横向纸张，其中起决定性作用的是宽高比，哪个长就是哪个方向。如果你想使用其他大小的纸张，你可以自己用office软件创建一个对应纸张大小的文档，然后解压，打开word目录下的document.xml文件，找到<w:sectPr></w:sectPr>标签对，类似这样的：
[code]
取出相应的值替换即可。
对了，设置边距值时，记得先除以20。

[2019-12-02 14:40] mchusovlianov commented on #323
@gunnsth How things are going with this ticket?

[2019-12-02 15:41] gunnsth commented on #323
@mchusovlianov The example
https://github.com/unidoc/unioffice/blob/master/_examples/document/toc/main.go
uses doc.Settings.SetUpdateFieldsOnOpen(true)
to force Word to recreate the TOC automatically.

There is no way to have Word create the TOC without asking the user, see also:
https://stackoverflow.com/questions/42020348/poi-table-of-contents

The alternative is to generate the TOC in unioffice

[2019-12-03 01:23] #350 closed

[2019-12-03 06:03] Explorer1092 opened #352 "how add connection &webpr"
## Description

![image](https://user-images.githubusercontent.com/32663226/70024583-8d3ca280-15d5-11ea-9366-a3a1df0cb25b.png)

# connections.xml

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<connections xmlns="http://schemas.openxmlformats.org/spreadsheetml/2006/main">
    <connection id="1" name="connection" type="4" refreshedVersion="6" background="1" refreshOnLoad="1">
        <web

[2019-12-03 12:34] zgordan-vv commented on #337
DAYSINMONTH, YEARS, ISEVEN_ADD, ISODD_ADD, MONTHS are only Open/Libre functions, so I suppose we can remove them from the list

[2019-12-03 12:36] zgordan-vv commented on #337
DATEVALUE is already done and merged into master, MDURATION and PDURATION are done in https://github.com/unidoc/unioffice/pull/353

[2019-12-03 15:26] gunnsth commented on #337
Updated.

[2019-12-05 15:17] #337 closed

[2019-12-05 15:18] gunnsth commented on #347
@zgordan-vv Is this done?

[2019-12-05 15:18] gunnsth commented on #324
@zgordan-vv Can you check if the file now works?

[2019-12-05 15:18] gunnsth commented on #318
@zgordan-vv Is this fixed now?

[2019-12-05 16:21] gunnsth opened #355 "Excel functions: 10 most popular functions"
## Description
Based on #336 the task is to implement and create testcases for the following functions that are classified as the 10 most popular functions.
- [ ] SUM
- [ ] IF
- [x] LOOKUP
- [x] VLOOKUP
- [x] MATCH
- [x] CHOOSE
- [x] DATE
- [x] DAYS
- [x] FIND
- [x] FINDB
- [x] INDEX

## Expected Behavior
Expect to have implementation and test cases for each of those functions.

## Actual Behavior

[2019-12-05 18:10] zgordan-vv commented on #355
All of these are implemented, but SUM and IF have no test cases, will add them on Monday

[2019-12-05 18:11] zgordan-vv commented on #347
yes, in #351

[2019-12-05 18:11] zgordan-vv commented on #318
yes

[2019-12-06 08:58] #347 closed

[2019-12-06 08:59] #318 closed

[2019-12-09 08:58] gunnsth opened #356 "Excel functions: financial functions"
## Description
Based on #336 the task is to implement and create testcases for the following functions that are classified as financial functions.

- [ ] ACCRINT
- [x] ACCRINTM
- [x] AMORDEGRC
- [x] AMORLINC
- [x] COUPDAYBS
- [x] COUPDAYS
- [x] COUPDAYSNC
- [x] COUPNCD
- [x] COUPNUM
- [x] COUPPCD
- [x] CUMIPMT
- [x] CUMPRINC
- [x] DB
- [x] DDB
- [x] DISC
- [x] DOLLARDE
- [x] DOLLARFR
- [x] DURATIO

[2019-12-09 11:32] zgordan-vv commented on #356
DURATION, MDURATION and PDURATION are implemented already

[2019-12-09 12:08] #355 closed

[2019-12-09 19:08] blefort opened #358 "How to Use Landscape"
## Description
I am attempting to put a section in landscape orientation. According to this documentation [Wordprocessing Sections](http://officeopenxml.com/WPsection.php), the pgSz Orient should do the job.

In my code, I am trying to set the property, but I think I don't do it properly:
[code]
It compiles but at execution, I get:
--- FAIL: TestReportPDF4 (0.06s)
panic: runtime error: invalid mem

[2019-12-09 19:17] blefort commented on #358
I found the bug in my code, it should be:
[code]

But it does not change the page orientation.

[2019-12-09 19:42] blefort commented on #358
I found a solution, the height and the width must also be set in order to work

[code]

[2019-12-14 15:08] #358 closed

[2020-01-08 08:56] l0nax opened #364 "[Question] Append Word document"
## Description

Is it currently possible if we have two Word Documents (eg. _A_ and _B_) that we simply append document _A_ behind document _B_?

I havn't found a actual function that can do this.
So are there any possiblities to manually implement this or exists this feature already?

[2020-01-08 10:29] sillydong commented on #128
Is there any plan to achieve this feature?

[2020-01-27 08:21] polderudo opened #367 "[question] Delete column"
Is there any way to delete a column from a sheet?

[2020-02-03 09:41] polderudo commented on #367
We have a valid license ... I will fill out a contact request

[2020-02-03 10:05] gunnsth commented on #367
@polderudo Thanks, we have received your question.  We will look into it and answer you soon.

[2020-02-04 12:42] crostagnol opened #370 "Word Fields not loaded"
I'm testing Word fields manipulation with uniOffice, but I'm not being able to load the fields from my documents. The "fill-out-form" example is working, but not my own examples.

## Expected Behavior
I've created few test documents (see attachments), similar to "fill-out-form" example, with some form fields. They should be loaded, filled out with some fake content and saved back into a new .docx

[2020-02-05 12:28] crostagnol commented on #370
After some deep testing, I found that the library is working for "legacy fields" but not for "activeX fields".
I've created some more test documents based on "fill-out-form" and it is clear that only "legacy fields" are loaded.

## Example 4 --- only legacy fields:
Word document:
[formLegacy1.docx](https://github.com/unidoc/unioffice/files/4159454/formLegacy1.docx)

Open XML document:
[formLegacy2

[2020-02-05 15:53] gunnsth commented on #367
@polderudo We have implemented the basic functionality.  We also made it such that it updates basic references.  However, we are wondering how complex it should be regarding updating formulas that use ranges and such.
Can you comment a bit about the use case?  Why do you need to remove a column?
Do you need to update references and formulas that will move as a result?

[2020-02-05 16:11] polderudo commented on #367
We are creating Excel files from our data as an export. We have different "settings" for exporting the data. Thus we want to create one basic Excel file, that includes all data by default and then, based on some params, we will remove data that should not be inside the Excel.
We don't use formulas at all (till now), so this will not be an issue for us. What we have, are merged cells (mostly as a h

[2020-02-06 10:45] gunnsth commented on #367
Thanks.  We are looking to implement it so the column can be removed and references can optionally be updated (best effort).

[2020-02-10 16:22] gunnsth commented on #367
@polderudo Can you try https://github.com/unidoc/unioffice/pull/371 and see if it works for your case?  It is currently being reviewed and will be merged soon.
See
https://github.com/unidoc/unioffice/blob/0165c9928d1fde34201ac9cd391d5e417a22b63e/_examples/spreadsheet/remove-column/main.go
for an example

[2020-02-13 14:03] GZLHZ opened #372 "How to save as Word Document"
## Description
Hello, could you please tell me how can I save the file as Word Document?

I run the code:
[code]
## Expected Behavior
Expected file type is word document.

![QQ图片20200213214717](https://user-images.githubusercontent.com/45257277/74442485-891de280-4eac-11ea-8cd6-4284cd3f4c47.png)

## Actual Behavior
But the newfile type is Strict Open Xml Document
![QQ图片20200213214722](https://user-

[2020-02-18 12:30] #356 closed

[2020-02-18 12:31] gunnsth commented on #367
@polderudo This functionality is part of our newest release v1.3.0.  Closing.

[2020-02-18 12:31] #367 closed

[2020-02-21 11:24] polderudo opened #373 "[Question] Handling excel data"
As far as i saw, there is no way to get the data from an excel file as a matrix when running row by row.
unioffice removes empty cols in a row.

Is there any way to get the whole data of an excel, even with empty cols?

[2020-02-25 05:02] zgordan-vv commented on #373
@polderudo Can you show what do you exactly do in order to reproduce?

[2020-02-25 05:22] jeckbjy opened #375 "why did the image just show half?"
## Description
![image](https://user-images.githubusercontent.com/1024038/75217243-67d4c480-57d1-11ea-99cb-3d01caa87899.png)
![image](https://user-images.githubusercontent.com/1024038/75217269-83d86600-57d1-11ea-8d86-dbe95a329ae9.png)
![image](https://user-images.githubusercontent.com/1024038/75217280-8c30a100-57d1-11ea-8361-9ed9720d169e.png)

the image just show half,but when i edit it in word, d

[2020-02-26 09:21] jeckbjy commented on #375
i had solved the problem,because my image is that height larger than width.so i must set the size match the raw image ratio.

[2020-02-26 09:21] #375 closed

[2020-03-04 21:58] gunnsth opened #376 "Presentation: Problem injecting text/images into Powerpoint template placeholders"
## Description

An issue was raised via email:

## Expected Behavior
Expected template to be filled in with provided data and saved to an output PTTX file.

## Actual Behavior
Injecting text into placeholder works, but slide.AddImage method adds the image to a slide but not into a placeholder, and attempting to set common slide data on an existing pic placeholder has not worked for me.

A full exa

[2020-03-06 09:48] polderudo commented on #373
Lets say we have this file:

[test.xlsx](https://github.com/unidoc/unioffice/files/4297639/test.xlsx)

If you comment in the for loop, the second for loop will return different output
[code]
It seems, like the cel "D2" which is empty, is generated only, when accessing it directly.

[2020-03-08 16:57] zgordan-vv commented on #373
@polderudo creating all cells in the world seems unreasonable, so I am thinking about another method like row.CellsWithEmpty(lastCol string) which will create and return all cells including empty ones from column A to column lastColumn, will it be suitable?

[2020-03-09 07:25] polderudo commented on #373
Creating all cells in the world seems unreasonable of course.
Passing in the lastCol, on the other hand is also not favorable. For us, e.g. we have a functionality ontop of the excel reading, which will fill an array of data based on the first line in an excel (header row). Thus the users can upload any excel files and the function will only read the cols that are defined in the apps. We don't eve

[2020-03-09 15:05] zgordan-vv commented on #373
Yes, thank you, we tend to make it with the last column used

[2020-03-09 18:17] zgordan-vv commented on #373
Made a PR, example here https://github.com/unidoc/unioffice/pull/377/files#diff-82da1956b23d0c188eb79f727761301e

[2020-03-10 07:17] polderudo commented on #373
@zgordan-vv this seems perfectly ok

[2020-03-11 09:14] gunnsth commented on #373
@polderudo Can you check if the following example suits your use case:
https://github.com/unidoc/unioffice/blob/5e62adb061b3d8c656f9f2cb1da9bec2fe88fca3/_examples/spreadsheet/cells-with-empty/main.go

Basically we have a function that returns the maximum column with content in the sheet and then a function that can return all cells (including empty) including that column.

[2020-03-11 10:05] polderudo commented on #373
@gunnsth That also works perfectly.

[2020-03-25 13:40] #373 closed

[2020-03-25 13:41] gunnsth commented on #373
@polderudo Great, this has been merged into master, will be in next release.

[2020-03-31 19:25] gunnsth opened #378 "Support reading and writing customXml"
## Description
CustomXml provides schema to set a custom xml field that can be used for various metadata.
Useful to be able to set and read.

Currently unioffice outputs log messages like the following when encountering customXml:
[code]

## Proposal
Create the needed schema models and add convenient methods into the higher level packages such as `document` to work with to set and get the xml.

[2020-04-06 13:15] aaokunev opened #379 "In front of text image wrapping"
## Description
I want to insert image to document with wrapping mode = "In front of text". Is it possible in current version of Unioffice?
## Expected Behavior
![image](https://user-images.githubusercontent.com/3939237/78562097-80e58200-7821-11ea-905c-1e0bdfde1d74.png)

## Actual Behavior
...

[2020-04-21 09:31] compleatang commented on #320
++ to this feature request.

[2020-04-22 01:45] sohaha opened #382 "Can you support exporting Office as a picture"
There is a requirement to read the excel content and save it as a picture.

Is there such an implementation at present?

Thank you.

[2020-04-22 04:30] freb opened #383 "Numbering.AddDefinition produces conflicting NumIdAttr's"
## Description

`AddDefinition` ([here](https://github.com/unidoc/unioffice/blob/dd7713e1e3f2b1324fc0263c2b967d70df56ead0/document/numbering.go#L106) has a but. It assumes that an `ID` of `1` greater than the highest numbered `AbstractNumberID` will work as a value for both a new `AbstractNumberID` and `num.NumIdAttr`. The problem is that frequently (including in default work documents), the NumId

[2020-04-27 17:28] freb opened #385 "InsertParagraphAfter does not properly handle table paragraphs"
## Description

`Document.InsertParagraphAfter` does not work as expected for paragraphs inside tables. The method description does not mention this.

## Expected Behavior

I expected the inserted paragraph appears within the same table cell, and just after the `relativeTo` paragraph. Another option is to update the documentation for `InsertParagraphAfter`.

## Actual Behavior

The inserted paragr

[2020-04-27 17:31] gunnsth commented on #383
@freb PR #384 addresses this.

[2020-04-27 17:45] freb commented on #383
The change looks good to me. Thanks!

[2020-04-27 17:45] #383 closed

[2020-04-27 17:58] freb opened #386 "document: Feature Request: InsertParagraphAfterTable"
When creating a document, things get a little annoying once you start working with tables. I think one of the main annoyances is that once you have a table in the document, you cannot continue adding content after you've inserted the table. Instead you have to do something like:

[code]

If you have a table reference and you want to add another table directly after it, you'd have to take the addit

[2020-04-27 18:10] freb commented on #128
Without unioffice support, it should be possible to get most of the way there. The approach would be to open up the docx file as a zip file and then find and edit the embedded spreadsheet using unioffice.

The only real question is whether we have access to all of the `rels` needed to follow the trail of IDs. Last time I was digging into the `rels` for something unrelated, I was unable to locate w

[2020-04-29 09:22] gunnsth commented on #385
@freb Thanks for reporting.  PR #387 addresses this, can you confirm that it resolves the issue?

[2020-04-29 15:06] freb commented on #385
That works great. Thanks!

[2020-04-29 15:15] freb commented on #385
Sorry for the close and re-open. I just realized while checking the issue, `InsertTableAfer` has the same issue. Word/OOXML supports adding a table after a paragraph inside of a table cell, but `InsertTableAfter` places the new paragraph at the very end of the document currently.

I'm not sure if this is something you want to fix or just document as I'm sure the demand is much lower. I'm working o

[2020-05-03 14:33] tuoling805 opened #388 "how to get TextBox in presentation"
## Description
I need to use GetTextBox function in Slides
## Expected Behavior

## Actual Behavior

Please include a reproducible code snippet or document attachment that
demonstrates the issue.

[2020-05-03 14:34] tuoling805 commented on #388
i fond the presentation Slide not have the GetTextBox function ,how to reset the page textbox content

[2020-05-05 19:59] zgordan-vv commented on #372
@GZLHZ can you tell your environment - OS, Office version? We cannot reproduce it so far

[2020-05-06 00:51] GZLHZ commented on #372
OK win10 & office2019

[2020-05-06 09:39] zgordan-vv commented on #385
@freb Can you try now the same PR? https://github.com/unidoc/unioffice/pull/387

[2020-05-06 16:36] freb commented on #385
That looks great. Thanks!

[2020-05-06 16:36] #385 closed

[2020-05-11 08:12] Limaomi opened #390 "How to set doc pagesize and direction of page"
## Description

## Expected Behavior

## Actual Behavior

Please include a reproducible code snippet or document attachment that
demonstrates the issue.

[2020-05-15 12:19] robtrooper opened #394 "Placeholders are being split"
## Description
Using edit-document example code but with own template.docx. Placeholders are not being respected.

## Expected Behavior
case "xxaddressxx":

will then catch my xxaddressxx placeholder and i can perform my function on that.

## Actual Behavior

Placeholders are being split and breaks the switch logic.
using
case "xxaddressxx":
results in
'not modifying xx'
'not modifying address'
'n

[2020-05-22 03:51] ArmandoZepeda commented on #243
Hi. I'm sorry to return too late. I edited my post to include the code so, now it can be reproduced.

[2020-06-01 14:09] gunnsth commented on #390
@Limaomi Can you please fill out the bug report form fully.  Can you give an example of what you are trying to achieve?  What kind of page size and what direction?  Example files would be useful.

[2020-06-01 14:12] gunnsth commented on #394
@robtrooper Can you please include your input and output files?  What unipdf version did you use?  Would be good to have screenshots to with markups to clarify what the problem is.

[2020-06-01 14:34] gunnsth commented on #268
@Savolro Can you send an example .docx file ?  Otherwise it is difficult to reproduce this.

[2020-06-01 14:45] #229 closed

[2020-06-01 14:47] #240 closed

[2020-06-02 00:49] gunnsth commented on #364
See related https://github.com/unidoc/unioffice/issues/287

@l0nax Can you comment on the use case, why you want to do this?  Do you want the 2nd document to continue straight after the first one or end the last page of the 1st one with a page break?

What about any common properties of the two documents, should they be ignored or should one be dominant or attempt to merge any properties as long a

[2020-06-02 05:28] l0nax commented on #364
Yes, this Issue is a duplicate of #287.

Thanks @gunnsth for your support :D

[2020-06-02 05:28] #364 closed

[2020-06-02 06:59] wulin76 opened #396 "use-template is not work"
## Description
After saving the template with word 2016, I run the sample

## Expected Behavior
template style is applied to the newly generated document

## Actual Behavior
but the style of the new generated use-template.docx will be lost.

[template.docx](https://github.com/unidoc/unioffice/files/4715313/template.docx)
[use-template.docx](https://github.com/unidoc/unioffice/files/4715345/use-tem

[2020-06-02 13:53] zgordan-vv commented on #349
@probonopd @mkhan-kilabs Can you test it with https://github.com/unidoc/unioffice/pull/395 ? Looks like it is fixed while working with another issue.

[2020-06-03 11:34] zgordan-vv commented on #310
@mec07 for keeping page numbers there is another method called AddSlideWithLayout. The description of AddDefaultSlideWithLayout says:

[code]

so if you will use AddSlideWithLayout instead of AddDefaultSlideWithLayout here https://github.com/mec07/slide-numbers/blob/master/main.go#L32 and here https://github.com/mec07/slide-numbers/blob/master/main.go#L37 , page numbers will not be removed.

[2020-06-03 14:16] mec07 commented on #310
Thanks!

[2020-06-03 15:42] zgordan-vv commented on #372
@GZLHZ Can you test a PR https://github.com/unidoc/unioffice/pull/399 with the code below:

[code]

[2020-06-05 07:00] lz-2019 opened #401 "Office2007 is not supported"
## Description

## Expected Behavior

## Actual Behavior

Please include a reproducible code snippet or document attachment that
demonstrates the issue.

[2020-06-06 03:00] vmvz opened #402 "Can't add svg/eps/emf images"
## Description

## Expected Behavior

## Actual Behavior

it would be nice to have the ability to insert *.svg OR *.eps OR *.emf images.

[2020-06-07 12:23] gunnsth commented on #401
@lz-2019 Can you please fill out the issue form?  And provide files needed to reproduce the problem

[2020-06-08 03:06] lz-2019 commented on #401
## Problem recovery

Platform: win7 and office2007

demo
[code]

The generated `edit-document.docx` is opened in `office2007` under win7
![深度截图_选择区域_20200608110628](https://user-images.githubusercontent.com/54101095/83989166-216a3680-a978-11ea-822c-197eb2cca65c.png)

[2020-06-09 09:11] wulin76 commented on #396
I found that after saving the template as a separate file, the styleID changed, but I didn't change the styleID in the sample code, which caused the running sample to fail to match the template

[2020-06-09 09:11] #396 closed

[2020-06-09 09:16] zgordan-vv commented on #349
Can we close it? Test case works on master now.

[2020-06-09 09:16] zgordan-vv commented on #376
Can we close it? Test case works on master now with _examples/presentation/use-template-with-image/main.go

[2020-06-09 13:08] GZLHZ commented on #372
@zgordan-vv  Hi, I tested the master code, and it save as word document.It works now.Thank you！！

[2020-06-09 13:08] #372 closed

[2020-06-11 09:34] alecte commented on #401
I can confirm that it does not seem to work with Office 2007.

**Office versions tested:**
    `Microsoft(R) Office Word 2007 (12.0.6787.5000) SP3 MSO (12.0.6785.5000)`
    `Microsoft(R) Office Excel 2007 (12.0.6787.5000) SP3 MSO (12.0.6785.5000)`

**Windows version info:**
    `Microsoft Windows Version 1909 (SO Compilation 18363.900)`

Both Windows and Office are in spanish, in case that matters

[2020-06-11 15:51] securityguy opened #403 "build-examples.sh does not work on MacOS"
## Description
By default, the Go installer on MacOS installs at /usr/local/go and users can't modify the files. build-examples.sh uses the -i flag (which I do not believe is necessary with current Go releases) and also includes an extra '/'

## Expected Behavior
Samples build.

## Actual Behavior

go build runtime/cgo: copying /Users/eric/Library/Caches/go-build/8b/8be51c4acdf57f18c6f49a219549c18

[2020-06-14 13:33] mytea003 commented on #116
hello,Have you found the problem of changing the original header in the document? I also encountered the same problem, and during the replacement process, the document's watermark disappeared.

[2020-06-14 13:59] mytea003 opened #405 "Problem with adding content or modifying header in docx file"
## Description
I wanted to add what I wanted in the header and set the location, but this was too difficult. There are no relevant instances.

You can add content to the header, but there are two problems:

1. Cannot add to the existing content;

2. After adding, the watermark disappears.

## Expected Behavior
![tesa1](https://user-images.githubusercontent.com/45747375/84595411-4ab02880-ae8a-11ea-

[2020-06-24 19:45] freb opened #410 "Support for RichTextRun in Spreadsheet"
## Description

I was pulling content from an existing spreadsheet and noticed two cells which have content, but returned an empty string from `cell.GetRawValue()` and `cell.GetString()`. After digging into the raw xml, I noticed that the shared string for it looked like:

[code]

I figured the runs were the issue. I dug through the code, and while [RichTextRun](https://github.com/unidoc/unioffice

[2020-06-29 13:01] GarryGaller opened #411 "The temporary directory is not cleared"
Why does unioffice not delete temporary files in the TEMP folder after it?
There are still a huge number of gooxml-docx091614483 directories with files.
OS Windows.

[2020-06-29 23:08] freb opened #412 "document.RemoveParagraph does not work with Table Cells"
## Description

`document.RemoveParagraph(p)` does not work on cell paragraphs.

## Expected Behavior

`RemoveParagraph` does not remove paragraphs from table cells.

## Actual Behavior

`document.RemoveParagraph(p)` silently does not remove paragraphs that are inside table cells.

Example code:

[code]

[2020-06-30 16:00] gunnsth commented on #405
@mytea003 Can you please provide all the files so that the case can be reproduced?

[2020-06-30 19:30] gunnsth commented on #405
Related or duplicate of #346

[2020-06-30 19:31] gunnsth commented on #378
N/A.  Typically when this happens it means that schema is missing.

[2020-06-30 19:31] #378 closed

[2020-07-01 07:27] mytea003 commented on #405
[testMod.zip](https://github.com/unidoc/unioffice/files/4856311/testMod.zip)

[2020-07-01 07:28] mytea003 commented on #405
I have uploaded the file.

[2020-07-02 12:09] bsbak commented on #287
Looking for this feature too! Have a presentation file docx and all other files docx and i want append presentation to begining of each file.

[2020-07-03 14:05] zgordan-vv commented on #290
@FourShore can you list steps how this document was created? The source itself looks invalid, all merge fields are in <AlternateContent> tags and without <FldChar> tags which are vital for merging.

[2020-07-04 14:42] leavky opened #418 "Creating a table in a document cannot really merge cells"
## Description
Creating a table in a document cannot really merge cells，Open the created document with Word365, Adjust it a little ,The merged cells are separated。
unioffice\_examples\document\tables\main.go
## Expected Behavior
merge cells
## Actual Behavior
cannot really merge cells

![image](https://user-images.githubusercontent.com/46547390/86514851-78640e00-be47-11ea-9a9f-d5a60000b064.png)

[2020-07-05 04:37] zgordan-vv commented on #238
fixed with https://github.com/unidoc/unioffice/pull/419 , please test

[2020-07-16 08:45] zgordan-vv commented on #411
This will be fixed in https://github.com/unidoc/unioffice/pull/423 , also the closing of the document is needed, say:

[code]

[2020-07-17 13:11] BCCCA opened #425 "how to add a new form field to a word file"
## Description
in the examples  olny show to change the properties as "fill-out-form",  does this program have a function to add a formfield to a new docx file ? just like adding a CheckBox .
## Expected Behavior
create a check box field and add it to the existed docx file .
## Actual Behavior
can't find the API

Please include a reproducible code snippet or document attachment that

demonstrates

[2020-07-30 11:35] probonopd commented on #349
Thank you very much @zgordan-vv. Sorry I can't test it right now, so closing for now. Will reopen if the issue persists.

[2020-07-30 11:35] #349 closed

[2020-08-12 13:44] appiteasy opened #429 "Problem adding a dynamic image field in a mail merge"
## Description
I am using mergeFields and I get the following error:
skipping unsupported element on CT_Picture {urn:schemas-microsoft-com:vml shapetype}
## Expected Behavior
My field "Picture" is not replaced in my word file, the content of Picture is a string like:
"http://localhost:8082/images/bsg1rnbb0co0sr4pm0qg"
This is the code in the word file for my 'Picture' field:
 {INCLUDEPICTURE "{MER

[2020-08-13 08:11] CR903 opened #430 "How to insert nested tables"
## Description

How to insert a table in a table paragraph, which can be anywhere. func InsertTableAfter doesn't seem to work.

Or how to add a table in Run?

## Expected Behavior

## Actual Behavior

[2020-08-13 08:18] CR903 commented on #386
InsertTableAfter(paragraph) has no effect in table Cell

[2020-08-19 08:37] m13934221960 opened #432 "RangeReference.ParseRangeReference bug"
## Description
when sheetname include char '!'（excel allowed），the following code will not work!
[code]
## Expected Behavior
[code]
## Actual Behavior

Please include a reproducible code snippet or document attachment that
demonstrates the issue.

[2020-09-02 19:22] yene opened #435 "Question: How to check if another Excel file is referenced"
Hi 👋

Is there a way to check if the Excel file references another Excel file?

Thank you for your time.

[2020-09-07 08:00] ZhangYi96 opened #436 "Formula check is not working, and the goroutine is not closed"
## Description
I want to check and calculate the formula。

## Expected Behavior
When I input formula such as`ADD(1=1),1=1`, there will be an error in excel and I wana get an error.
## Actual Behavior
The program should have returned an error, but it didn't. It passed the vertification.
In the same time, the goroutine for LexReader can not be closed. It will write String `ADD(1=1),1=1` into chan no

[2020-09-10 19:06] #435 closed

[2020-10-01 14:20] zgordan-vv commented on #436
@ZhangYi96 Hi, I can;t reproduce the error. When I write something like ```sheet.Cell("A4").SetFormulaRaw("ADD(1=1),1=1")
    a4Value := formEv.Eval(sheet.FormulaContext(), "A4")``` UniOffice gives me `parse error: syntax error: unexpected tokenComma`. And when I am trying to imput it in Excel, it doesn't let me input it at all. Can you tell me exact steps to reproduce the issue?

[2020-10-06 10:20] #319 closed

[2020-10-07 11:02] zgordan-vv commented on #429
@appiteasy Hi! Can you attach your Word file or include exact steps how did you get this issue?

[2020-10-08 22:29] #411 closed

[2020-10-08 22:32] gunnsth commented on #388
Support for this has been added.  See the following for an example:
https://github.com/unidoc/unioffice-examples/blob/master/presentation/textbox/main.go

[2020-10-08 22:32] #388 closed

[2020-10-08 22:33] gunnsth commented on #403
This is probably no longer valid.  The examples are now in
https://github.com/unidoc/unioffice-examples
and build_examples.sh there is much simplified.

[2020-10-08 22:33] #403 closed

[2020-10-08 22:36] gunnsth commented on #430
@CR903 Please submit the minimal code and files needed to reproduce this issue so we can look into this.

[2020-10-08 22:38] gunnsth commented on #429
@appiteasy Please submit the minimal code and files needed to reproduce this issue so we can look into this.

[2020-10-08 22:39] gunnsth commented on #418
@leavky Please attach the minimum code and files needed to reproduce the issue so we can investigate.

[2020-10-08 22:52] gunnsth commented on #238
This should be fixed, closing.

[2020-10-08 22:52] #238 closed

[2020-10-08 22:59] gunnsth commented on #246
Closing as this is missing information to reproduce.

[2020-10-08 22:59] #246 closed

[2020-10-09 03:58] ZhangYi96 commented on #436
I am using the v0.7.1 version, but I also found this problem in the latest version.
Yes, it can check the formula, but it print the error not return

**Test**
[code]

**OutPut**
[code]
it print the error, but pass the test. In web services, when similar formulas are calculated (the parentheses end early), the lex goroutine will not exit. My program once had 1 million goroutines blocked at lex.

In

[2020-10-09 12:01] 1321731966 opened #437 "How to add a watermark to a Word document"
Now I need to implement a function, I need to add watermark on word document, may I ask how I should do it?A: I've tried many ways but they don't work. Please tell me what I should do。

[2020-10-09 12:04] gunnsth commented on #437
@1321731966 Please attach minimal code and files needed to reproduce the issue. For example some of the ways you have been attempting so far.

[2020-10-09 13:48] 1321731966 commented on #437
I am now trying to open a word document with a watermark and append subsequent content to it, but the watermark is gone!Here is my code
=================================================================================
doc,err:=document.Open("watermark.docx")
    if err!=nil{
        fmt.Println(err)
    }
    para:=doc.AddParagraph()
    run:=para.AddRun()
    run.AddText("Whatever, this is just t

[2020-10-10 07:14] danbai225 opened #438 "How to display the picture under the text"
code:
imgRef, err := doc.AddImage(bgImg)
	t, err := run.AddDrawingAnchored(imgRef)
	if err != nil {
		logger.Error(err)
	}
	t.SetAlignment(wml.WdST_AlignHCenter, wml.WdST_AlignVBottom)
	t.SetSize(21.04*measurement.Centimeter, 8.54*measurement.Centimeter)
	t.SetTextWrapSquare(wml.WdST_WrapTextBothSides)

I want to achieve:
![img](http://danbai.oss-cn-chengdu.aliyuncs.com/img/2020/10/10/a1afea3fab0a

[2020-10-11 03:58] danbai225 commented on #438
Okay, I already know.After comparing the XML, I found behindDoc parameter. Through the code `t.X().BehindDocAttr=true` setting, I also need to set `t.SetTextWrapNone()`

[2020-10-11 03:58] #438 closed

[2020-10-11 13:54] gunnsth commented on #401
@lz-2019 Can you please attach the `document.docx` and output `edit-document.docx` so this can be reproduced?
Thanks.

[2020-10-11 13:59] gunnsth commented on #401
@alecte Thanks for reporting as well. As a user I expect Office 2007 to work, so I do consider this a bug.  We would like Office 2007 to work.  If we decide to drop support for some versions, we will specify it.  Note that actually supporting older version can be troublesome, but we will investigate this and see what we come up with.  We have been working on something such as handling AlternateCon

[2020-10-11 14:07] gunnsth commented on #394
Closing as we do not have a way to reproduce this.  Please reopen with minimum code and files needed to reproduce the issue if it comes up again.

[2020-10-11 14:07] #394 closed

[2020-10-13 00:29] gunnsth commented on #293
This is addressed in v1.6.0, see also example
https://github.com/unidoc/unioffice-examples/blob/master/presentation/tables/main.go

[2020-10-13 00:30] gunnsth commented on #430
This is addressed in v1.6.0, see also example
https://github.com/unidoc/unioffice-examples/blob/master/document/paragraphs_in_table/main.go

[2020-10-13 00:30] #430 closed

[2020-10-13 00:30] gunnsth commented on #425
This is addressed in v1.6.0.  See also example
https://github.com/unidoc/unioffice-examples/blob/master/document/form-fields/main.go

[2020-10-13 00:32] gunnsth commented on #432
This has been addressed in v1.6.0.  See also example code
https://github.com/unidoc/unioffice-examples/blob/master/spreadsheet/references-with-sheet-name/main.go

[2020-10-13 00:32] #432 closed

[2020-10-26 18:31] SEFI2 commented on #304
Hi. You can do something like this:

[code]

[2020-10-26 18:31] #304 closed

[2020-10-26 18:39] SEFI2 commented on #346
You can add a header by using `doc.AddHeader()` function. For example:
[code]

[2020-10-26 18:39] #346 closed

[2020-11-09 12:17] #243 closed

[2020-11-09 12:17] #405 closed

[2020-11-09 12:17] #412 closed

[2020-11-20 12:05] gunnsth commented on #287
Support for this has been added, see example
https://github.com/unidoc/unioffice-examples/blob/master/document/merge-documents/main.go

[2020-11-20 12:05] #287 closed

[2020-12-03 13:43] gunnsth commented on #437
@1321731966 Can you please attach the file, watermark.docx so we can assess this properly?

[2020-12-17 15:11] zgordan-vv commented on #310
@gunnsth Can be closed I think?

[2020-12-17 15:31] zgordan-vv commented on #324
it works, yes

[2020-12-17 15:31] #324 closed

[2020-12-17 15:34] #310 closed

[2020-12-17 15:36] gunnsth commented on #376
Yes, the unioffice-examples link is:
https://github.com/unidoc/unioffice-examples/tree/master/presentation/use-template-with-image
Closing.

[2020-12-17 15:36] #376 closed

[2020-12-17 22:35] gunnsth commented on #429
Closing as we dont have a repro and longtime has elapsed. Please reopen with a repro if applicable.

[2020-12-17 22:35] #429 closed

[2020-12-17 22:39] gunnsth commented on #293
Closing as this is already supported.

[2020-12-17 22:39] #293 closed

[2020-12-17 23:19] gunnsth commented on #436
This has been addressed in v1.7.1. Multiple improvements in formula parsing and evaluation including timeouts and such to avoid possible go routine leaks and crashes.
https://github.com/unidoc/unioffice/releases/tag/v1.7.1
Please test to confirm that it resolves the issue.

[2020-12-17 23:40] #425 closed

[2020-12-17 23:48] #290 closed

[2020-12-17 23:55] gunnsth commented on #402
@zgordan-vv What do you think?  Is `common.ImageFromFile` not sufficient?  Does Word docx support all of those formats?  Could we have a function accepting image.Image interface?  In some cases image conversion may be required, where it should be the callers responsibility to convert before hand.

[2020-12-18 00:33] gunnsth commented on #352
@Explorer1092 Why would you want to read / edit those connections with unioffice?  Would be nice to have the story so we can assess the feasibility and better understand.

[2020-12-19 13:02] zgordan-vv commented on #379
@aaokunev to do this use AnchoredDrawing.SetTextWrapNone method. For example:

[code]

[2020-12-19 14:05] zgordan-vv commented on #332
@zhexiao Actually relID does not make sense for image reference right after creating. As relID is the id of a relationship, it depends on how many relationships already exist on the document / header / footer to which this image reference will be added. Say, if the image reference is added to a header which already has one relationship, the reference will be `rId2`, if it has 2 relationships, the

[2020-12-19 18:38] SEFI2 commented on #301
Hi @elonzh! Yeah, there has been a bug before in v1.2.0, but you may try the new releases (the latest v1.7.1), which works well for your given situation.

[2020-12-20 11:31] #301 closed

[2020-12-20 11:32] #379 closed

[2020-12-20 11:33] #332 closed

[2020-12-24 02:27] #436 closed

[2020-12-24 17:41] z1303756147 opened #443 "contents"
## Description

## Expected Behavior

## Actual Behavior

Please include a reproducible code snippet or document attachment that
demonstrates the issue.

[2020-12-24 17:41] #443 closed

[2020-12-24 17:41] z1303756147 commented on #443
i'm sorry i have a mistake

[2020-12-24 17:59] z1303756147 commented on #323
@gunnsth hi! have you solved the issue now? @mchusovlianov

[2021-01-06 13:17] zgordan-vv commented on #333
All works as expected at least in MS Word for Mac version 16.37 , xml also looks good.

[2021-01-07 03:38] leavky opened #445 "Cannot insert table correctly"
## Description
Cannot insert table correctly

## Expected Behavior
Insert table after the paragraph

## Actual Behavior
the table insert the document end.

[code]
![image](https://user-images.githubusercontent.com/46547390/103848174-bdaa1680-50dc-11eb-8ad4-26037e095df0.png)

[2021-01-07 15:41] zgordan-vv commented on #284
https://github.com/unidoc/unioffice/releases/tag/v1.8.0 contains text extraction with TextBox support

[2021-01-12 18:31] SEFI2 commented on #445
Table before

Street Address | 111 Country Road
-- | --
Street Address | 111 Country Road

Table after

Do you want to achieve this?
Then, this code would be more appropriate:
[code]
Note, I just changed the order of inserting elements

[2021-01-17 07:14] leavky commented on #445
thanks.

[2021-01-17 07:14] #445 closed

[2021-04-09 05:57] #333 closed

[2021-05-28 10:27] #284 closed

[2021-05-28 10:28] #258 closed

[2021-06-03 19:38] gunnsth commented on #343
Yes, we can extract text from pptx, please see
https://github.com/unidoc/unioffice-examples/tree/master/presentation/text_extraction
example
and api documentation
https://apidocs.unidoc.io/unioffice/v1.10.0/github.com/unidoc/unioffice/presentation/#Presentation.ExtractText

[2021-06-03 19:38] #343 closed

[2021-06-03 19:39] gunnsth commented on #128
@freb What would you envision the API for this to be like?

[2021-06-03 19:41] gunnsth commented on #262
@mastermissing What would you envision the API for this to be?  What fields and functions, capabilities?

[2021-06-03 20:51] gunnsth commented on #418
The output of the example looks like
![image](https://user-images.githubusercontent.com/50777/120710118-48851680-c4ad-11eb-8de9-120e4cfed579.png)
can see that the row is spanning multiple columns.... Of course that can be changed by editing in Word, just like anything else can be changed in word...

Closing.  Please clarify if we are misunderstanding something and reopen.

[2021-06-03 20:51] #418 closed

[2021-06-16 13:32] #268 closed

[2021-06-16 13:33] gunnsth commented on #390
Example added in https://github.com/unidoc/unioffice/releases/tag/v1.12.0
https://github.com/unidoc/unioffice-examples/tree/master/document/page-size-and-orientation

[2021-06-16 13:33] #390 closed

[2021-06-16 13:34] gunnsth commented on #339
We have added support for this in v1.12.0 and added examples, please see:
https://github.com/unidoc/unioffice-examples/tree/master/document/paragraph-style
https://github.com/unidoc/unioffice-examples/tree/master/document/paragraph_spacing_and_indentation

[2021-06-16 13:36] gunnsth commented on #382
We have Word docx to PDF conversion https://github.com/unidoc/unioffice-examples/tree/master/document/doc-to-pdf
And UniPDF can render PDF to image https://github.com/unidoc/unipdf-examples/blob/master/render/pdf_image_render.go

This is not supported for XLSX/PPTX yet, but we will be adding that in the future.

[2021-06-16 13:37] #339 closed

[2021-06-16 17:00] freb commented on #128
@gunnsth Sorry for slow response. The API will really depend on exactly how much functionality you want to support around this. For my use case of taking an existing docx file that already has a chart as a placeholder and updating its values, it could be as simple as providing access to the embedded xlsx chart file and providing a mechanism for dropping the numCache.

If, however, you want to supp

[2021-06-30 16:21] Aled210 opened #451 "How to delete a table from document"
I process a word document where I need to replace some forms and eventually delete or hide tables based on condition.
At the moment I didn't find any way to achieve it.
What I tried is to manipulate the xml by unmarshalling it, here's how:

`
	buf := new(bytes.Buffer)
	buf.WriteString("")

	decoder := xml.NewDecoder(buf)

	err := doc.X().UnmarshalXML(decoder, xml.StartElement{})
	if err != nil {

[2021-07-13 23:06] Trimeego opened #452 "Unable to save after manipulating a document with embedded image"
## Description

I am trying to use unioffice to open an existing document with and embedded image in the header and perform a mail merge and save, however, the after performing the merge, I am unable to save the document with the following returned error.

`unsupported image source: {_cgd:<nil> _bgdf:{_bgfb:<nil>} _ebf:{Size:{X:0 Y:0} Format: Path: Data:<nil>} _agb: _eca:word/media/image2.}`

The

[2021-08-03 20:48] Trimeego commented on #452
Upon further investigation, the issue is limited to images _in the header_.  Using the same image as a source, when inserted in the _body_ of the document, no error is encountered when performing a mail merge.  With the same image inserted into the _header_, the error is encountered, even though Word clearly has the proper imageref.

[2021-08-17 23:04] zen-chetan opened #454 "Please format source code"
## Description
Want to start off with kudos and appreciation for a great product. I just want to suggest running `gofmt` on this source code (maybe generated from a master template?) to clean up the code formatting and make it easier to follow.

## Expected Behavior
For example, `NewWatermarkText()` could look like:
[code]

## Actual Behavior
But it looks like this, since everything is on one line

[2021-08-18 10:07] ahall commented on #454
The source code is obfuscated and therefore this ticket is not relevant, closing.

[2021-08-18 10:07] #454 closed

[2021-08-18 18:21] zen-chetan opened #455 "[Feature Request] Provide access to the "Alias" and "Tag" properties of StructuredDocumentTag objects."
## Description
Currently, while structured document tags are available for a document, programmatic access to the title and tag properties for each structured document tag is not.  The API only provides access to the paragraphs.

## Expected Behavior
Each `StructuredDocumentTag` object provides `Alias()` and `Tag()` functions.
[code]

## Actual Behavior
No access to alias or tag for a structured d

[2021-09-27 09:59] gunnsth commented on #437
We have added examples for the use case of adding watermarks:
- https://github.com/unidoc/unioffice-examples/tree/master/document/watermark-picture
- https://github.com/unidoc/unioffice-examples/tree/master/document/watermark-text

[2021-09-27 09:59] #437 closed

[2021-12-22 08:24] xswwhy opened #459 "How can I get right NUMPAGES not in header or footer?"
## Description
How can I get right NUMPAGES not in header or footer?
## Expected Behavior
get right NUMPAGES
## Actual Behavior
it's will done when I want to get `PAGE` and `NUMPAGES` in header or footer
[code]
but it's not work when I use the same code in the body of the word,it show me `1` whatever the code location

[2022-01-15 23:19] gunnsth commented on #459
@xswwhy Please check example https://github.com/unidoc/unioffice-examples/blob/master/document/header-footer/main.go

[2022-01-15 23:21] gunnsth commented on #455
@glorious-beard What is the use case for getting the alias and tag?  Some examples would be great to understand.

[2022-01-15 23:23] gunnsth commented on #452
This was fixed in release v1.14.0.

[2022-01-15 23:23] #452 closed

[2022-01-26 03:24] yansuan commented on #418
**I also had the same problem.**

![image](https://user-images.githubusercontent.com/18570764/151098715-d6d85d56-af1e-4522-a681-f0320c3a3342.png)

`
func createTable() {
	doc := document.New()
	defer doc.Close()

	table := doc.AddTable()
	// 4 inches wide
	table.Properties().SetWidth(4 * measurement.Inch)
	borders := table.Properties().Borders()
	// thin borders
	borders.SetAll(wml.ST_BorderSingle

[2022-02-18 11:57] springswen opened #462 "[UO-129] Incorrect conversion of doc to pdf"
## Description
Incorrect conversion of doc to pdf
## Expected Behavior
doc to pdf converted correctly
## Actual Behavior

                outputPath := fmt.Sprintf("output/%s.pdf", filename)
		doc, err := document.Open("https://github.com/unidoc/unioffice/files/8096886/liuna.docx")
		if err != nil {
			log.Fatalf("error opening document: %s", err)
		}
		defer doc.Close()
		c := convert.ConvertToPd

[2022-02-18 23:25] Logan9312 opened #463 "column.SetStyle does not work with wrapped style"
When using the following function, it doesn't seem to set the cells to wrapped properly. If I use the exact same process on an individual cell it works properly. https://pkg.go.dev/gitea.com/unidoc/unioffice/spreadsheet#Column.SetStyle

## Expected Behavior
When using Column.SetStyle with the wrapped style, all cells in that column should become wrapped.

An example of the issue:
		style := ss.Sty

[2022-02-19 14:30] chenxi2015 commented on #331
doc := document.New()

	// 添加title
	para := doc.AddParagraph()
	run := para.AddRun()

	// make title centered
	para.Properties().SetAlignment(wml.ST_JcCenter)
	para.SetStyle("Title")
	run.AddText("建筑消防设施维护保养报告书")

[2022-02-20 09:28] sampila commented on #462
Hi @springswen,
Thank you for informing us about this issue.
This issue is on our radar, we gonna release improvement for Word to PDF conversion in the next version.

[2022-02-26 08:54] sampila commented on #462
Hi @springswen
We made a new release for DOCX to PDF conversion improvement.
https://github.com/unidoc/unioffice/releases/tag/v1.18.0

[2022-03-11 07:54] moipa-cn opened #465 "How to replace a word in a paragraphs"
eg: I am a handsome man
i want replace man to women.
i try
[code]
This is not what I want

I just need replace "women" in this paragraphs

[2022-03-11 12:01] sampila commented on #465
Hi @moipa-cn,
You can do text replacement using the node feature.
Here's the example: [https://github.com/unidoc/unioffice-examples/blob/master/document/node-find-and-replace/main.go](https://github.com/unidoc/unioffice-examples/blob/master/document/node-find-and-replace/main.go)

[2022-03-11 12:01] #465 closed

[2022-03-28 08:58] springswen commented on #462
hi @sampila I tried to convert with this version but still got an error, I added the source file to the attachment, you can debug
[liuna.docx](https://github.com/unidoc/unioffice/files/8361206/liuna.docx)

[2022-04-01 06:51] springswen commented on #462
Hi @sampila Thank you for your suggestion, the conversion is correct after adding fonts, but if there are pictures in the file, the result of PDF format is incorrec
[liuna.docx](https://github.com/unidoc/unioffice/files/8395325/liuna.docx)
t

[2022-04-01 13:07] sampila commented on #462
Hi @springswen, thank you for the feedback, we will keep doing the improvement for the conversion result.
I will do check on that document.

[2022-04-09 16:52] sampila commented on #462
Hi @springswen,
We released a new version of unioffice https://github.com/unidoc/unioffice/releases/tag/v1.19.0
I think the issue with incorrect convert result should be solved in that version.

I will close this issue for now.
Thanks.

[2022-04-09 16:52] #462 closed

[2022-06-06 03:19] shenghui0779 opened #467 "Creating a table in a document cannot really merge cells"
## Description

[code]

## Expected Behavior

![image](https://user-images.githubusercontent.com/67535398/172088866-112acaf4-1977-4cae-b12d-003b6c4112e0.png)

## Actual Behavior
![image](https://user-images.githubusercontent.com/67535398/172088668-04001760-f29a-4ca6-a678-ef2442b14145.png)

![image](https://user-images.githubusercontent.com/67535398/172088736-7c0c7989-a544-46ff-b7cf-7a82593a8314.pn

[2022-06-06 08:35] sampila commented on #467
Hi @shenghui0779,
We checked the result of the code, it is having correct cell span when opened in MS Word 365.
As for information, we support the MS Word 2013 above.
![Screenshot 2022-06-06 082702](https://user-images.githubusercontent.com/15959715/172125769-9364bc95-facf-40a5-b579-8e1a8556c9d7.png)
[table-cell-span.docx](https://github.com/unidoc/unioffice/files/8842989/table-cell-span.docx)

[2022-06-06 08:35] #467 closed

[2022-06-08 07:42] shenghui0779 opened #468 "Document append problem"
## Description

When I use `doc0.Append(doc1)`, the output file open fail

## Expected Behavior

## Actual Behavior

![image](https://user-images.githubusercontent.com/67535398/172560204-1d0374a1-5ffd-4fb9-873c-fbd13cb3e845.png)

Please include a reproducible code snippet or document attachment that
demonstrates the issue.

[2022-06-08 07:45] sampila commented on #468
Hi @shenghui0779,
Can you share more detail regarding the code and the files?
Is there any operation like adding more paragraphs or anything else before `doc0.Append(doc1)`?

[2022-06-08 07:52] shenghui0779 commented on #468
[code]

[0.docx](https://github.com/unidoc/unioffice/files/8859484/0.docx)
[1.docx](https://github.com/unidoc/unioffice/files/8859486/1.docx)

[2022-06-08 07:58] sampila commented on #468
Thank you, we will check this issue.

[2022-07-14 18:30] JNimkarLS opened #470 "Nil pointer when trying to extract image data"
## Description
Hey folks. I am trying to extract raw image data from an MS word document. Here is the code snippet:
[code]
The doc.Images array is successfully populated with the number of images in the document however when I call img.Data() I receive a nil pointer.

## Expected Behavior
img.Data() should return a non-nil pointer

## Actual Behavior
img.Data() returns a nil pointer

Please includ

[2022-07-14 18:41] sampila commented on #470
Hi @JNimkarLS,

Would you share the DOCX file that has the issue?

[2022-07-14 19:36] sampila commented on #470
Hi @JNimkarLS,

To which email that you are sending the files? I checked my inbox and didn't see it

[2022-07-14 20:20] JNimkarLS commented on #470
@sampila my apologies it got auto-blocked by our email service. I have resent it.

[2022-07-14 20:21] JNimkarLS commented on #470
The email I sent it to: alipxsulistio@gmail.com

[2022-07-14 21:13] JNimkarLS commented on #470
Great. Thank you!

[2022-07-15 20:08] sampila commented on #470
Hi @JNimkarLS,

The img.Data() return `nil` because we load the from storage directly.
If you want to extract the image and print the image file bytes to CLI from the document, you can try this example.
[code]

Hope this help.

Best regards,
Alip

[2022-07-18 14:06] JNimkarLS commented on #470
Thank you for the response @sampila . To make a long story short, I do not have access to the file directly. I am given the file as raw content (byte array). How can I extract the image data from this raw content?

[2022-07-18 14:51] sampila commented on #470
The library read the image and stores it in the temporary directory.
It depends on how the image was added to the document, if the image byte array is `nil`, you can get the image by using `img.Path()`

[2022-07-22 08:20] brandonheng168 opened #471 "Error when converting word file that contain blank page"
## Description

## Expected Behavior

## Actual Behavior

Please include a reproducible code snippet or document attachment that
demonstrates the issue.

[2022-07-22 08:22] brandonheng168 commented on #471
Here is the error screenshot
![Screenshot from 2022-07-22 15-20-18](https://user-images.githubusercontent.com/61530439/180396667-df9130ae-5040-4fab-b725-b635b53ec9c8.png)

[2022-07-22 12:02] sampila commented on #471
Hi @brandonheng168,

Thank you for the report, we tested with this blank `DOCX` file and working fine at our end.
[blank-page.docx](https://github.com/unidoc/unioffice/files/9167520/blank-page.docx)
[blank-page.pdf](https://github.com/unidoc/unioffice/files/9167521/blank-page.pdf)
Could you give us the `DOCX` file that has the issue?

Best regards,
Alip

[2022-07-22 15:47] JNimkarLS commented on #470
@sampila your solution fixed the problem. Thank you so much. Instead of using img.Data() I used os.ReadFile(img.Path()) to extract the raw bytes.

[2022-07-25 03:36] sampila commented on #470
@JNimkarLS glad to hear that and thanks for the information.
We closing this issue.

[2022-07-25 03:36] #470 closed

[2022-07-26 09:57] brandonheng168 commented on #471
@sampila Here is the file
[errafame.docx](https://github.com/unidoc/unioffice/files/9188708/errafame.docx)
Can you help check for me? since unioffice keep increasing credit and charge money even the error is from library.
Best regards,
Brandon

[2022-07-26 13:25] sampila commented on #471
Hi @brandonheng168,

Thank you for the file, we found out the issue and doing the fixes.
Do you have any other `DOCX` file that having similar issue?

[2022-07-26 13:26] brandonheng168 commented on #471
Hi @sampila It is the only file we have the problem. How can I fix the problem?

[2022-08-01 04:55] pingyuan7 opened #472 "docx to pdf"
## Description

When converting docx to PDF, the format is simply wrong.
Fonts, especially when there is Chinese, will not be converted at all.

## Expected Behavior

## Actual Behavior

Please include a reproducible code snippet or document attachment that
demonstrates the issue.

[2022-08-01 17:12] sampila commented on #472
Hi @pingyuan7
Could you share the `DOCX` file and code with us?

Best regards,
Alip

[2022-08-02 03:14] pingyuan7 commented on #472
func main() {

	doc, err := document.Open("test.docx")
	if err != nil {
		log.Fatalf("error opening document: %s", err)
	}
	defer doc.Close()
	c := convert.ConvertToPdf(doc)

	err = c.WriteToFile("test.pdf")
	if err != nil {
		log.Fatalf("error converting document: %s", err)
	}
[test.docx](https://github.com/unidoc/unioffice/files/9238775/test.docx)

[test.pdf](https://github.com/unidoc/unioffice/

[2022-08-04 04:50] sampila commented on #472
Hi @pingyuan7,

Thank you for the code and files, we are looking into this and will inform you as soon as possible.

[2022-08-04 04:51] sampila commented on #471
Hi @brandonheng168,

Currently, we are looking into this issue, will inform you as soon as possible for the updates.

[2022-08-08 19:32] JNimkarLS opened #473 "Unable to Extract Images from Docx File"
## Description
I have a docx file that contains a single image. Here's the code I am using to pull out the images:

[code]
## Expected Behavior

For the file I've attached below, it contains one image. However, the length of doc.Images is 0 and it should be a length of 1. As a note, I have created this document on Microsoft OneDrive and downloaded it from OneDrive to share with you.

## Actual Beh

[2022-08-09 07:44] sampila commented on #473
Hi @JNimkarLS,

I tried to extract image for the `J1.docx`, it is successfully extracted using this code below.

[code]

Is the file is correct? I saw you code, it is trying to open presentation file (PPTX) `presentation.Read()`.

[2022-08-09 15:08] JNimkarLS commented on #473
@sampila Thanks for the quick response. My apologies - I am actually using document.Read(). I accidentally sent the snippet that is scanning presentations. However, the code between the two is the same. Here is the code:

[code]

The issue I am having is that the service receives the MS word document as a byte array and the docx file is not stored locally. So I must use document.Read() and not doc

[2022-08-10 14:20] sampila commented on #473
Hi @JNimkarLS,

I tried to modify the code to use document.Read() and extract the image, here's my code.
[code]
Able to extract the image from `J1.docx` without issue.

[2022-08-10 16:55] JNimkarLS commented on #473
@sampila Ok interesting. So why doesn't a solution like this work:

[code]

If I print the length of images for J1.docx it gives me 0.

[2022-08-10 17:36] sampila commented on #473
Hi @JNimkarLS,

I tested your latest code, working fine on my end and able to extract the image.

[code]

[2022-08-14 21:07] sampila commented on #473
Hi @JNimkarLS,

Have you checked the code and file?
Do the code works on your end?

[2022-08-16 08:16] knight-ni opened #474 "How can i make numbering work and show with heading"
## Description
i have some code like
![image](https://user-images.githubusercontent.com/43974877/184830711-aeda18f9-3793-44e7-b564-89366a062197.png)

## Expected Behavior
this is what i expect to got
![image](https://user-images.githubusercontent.com/43974877/184830916-4ddc7e97-285a-4c8b-841a-fe6e3840e98f.png)

## Actual Behavior
actual output as followed seems missing number before heading like "

[2022-08-16 10:43] sampila commented on #474
Hi @knight-ni,

Probably you can try out this code and see if this code help

[code]
Best regards,
Alip

[2022-08-18 07:52] BenHall-1 opened #475 "How can I add a table to a placeholder table?"
## Description

I cannot work out how to update a Table placeholder with a table generated by `slide.AddTable` - Can you please advise?

[2022-08-18 15:25] sampila commented on #475
Hi @BenHall-1,

Can you share the code, current PPTX result and desired PPTX result?

Best regards,
Alip

[2022-08-19 06:41] BenHall-1 commented on #475
Hey @sampila, sure.

[code]

It currently returns
[not_working_1.pptx](https://github.com/unidoc/unioffice/files/9379716/not_working_1.pptx)

However I'd expect a result of
[expected_result.pptx](https://github.com/unidoc/unioffice/files/9379715/expected_result.pptx)
but I cannot work out how to get it to go onto the placeholder

[2022-08-19 11:31] sampila commented on #475
Hi @BenHall-1,

Thank you sharing the code and PPTX file, we will check and give you an update later.

[2022-08-22 12:13] ben-salesi commented on #475
@sampila any update on this?

[2022-08-25 04:12] brandonheng168 opened #476 "Can I add html markup to doc files?"
## Description
Is there a plan for the word document package to support html tags or how i can impliment the print the below in creating word
[code]
## Expected Behavior
The above html string should display as bold, italic , underline formatted
## Actual Behavior
Printing as string on AddText()

Please include a reproducible code snippet or document attachment that
demonstrates the issue.

[2022-08-25 04:23] brandonheng168 commented on #283
@niyaza3 @devarsh Any update for this?

[2022-08-25 04:25] brandonheng168 commented on #471
@sampila It have been a month. Any update on this? I will request for refund if no fix on this.

[2022-08-25 08:57] sampila commented on #471
Hi @brandonheng168,
I apologize for the delay.

I checked the file and trying to convert into PDF using UniOffice [v1.20.0](https://github.com/unidoc/unioffice/releases/tag/v1.20.0) and not having issue with panic error.
Can try to update the UniOffice version to v1.20.0?

[2022-08-25 17:44] joinimran commented on #471
Hello @brandonheng168 - My name is Imran and I am customer success manager at UniDoc. I am sorry that your issue was not fixed in a timely manner. This is something we take very seriously at UniDoc.

Normally we use Jira Service Desk to trak all of our customer queries. Or some of our customers open support case via contacting us at support@unidoc.io.

These are the two primary channels we use to

[2022-09-02 16:06] sampila commented on #472
We released new version with improvements of font name lookup, you can try to use new UniOffice version [v1.21.0](https://github.com/unidoc/unioffice/releases/tag/v1.21.0)

Let us know if you still have issue regarding this.

[2022-09-02 16:06] #472 closed

[2022-09-05 07:10] #459 closed

[2022-09-17 11:29] sampila commented on #475
Hi @BenHall-1,

Regarding this the current UniOffice only supports paragraphs inside placeholders. For positioning the table inside the slide, you can probably use the 'table.SetOffsetX' and 'table.SetOffSetY'.

See Examples: https://github.com/unidoc/unioffice-examples/blob/f47e46c076d1fc7fab6dbec68824a400c257ca54/presentation/tables/main.go#L59
API: https://apidocs.unidoc.io/unioffice/v1.20.0/gi

[2022-09-17 11:33] sampila commented on #473
Hi @JNimkarLS,

We closing this issue for now, feel free to re-open this issue if you this still not resolved.

Best regards,
Alip

[2022-09-17 11:33] #473 closed

[2022-09-17 11:35] sampila commented on #474
Hi @knight-ni,

We closing this issue, feel free to re-open this issue if this not resolved yet.

Best regards,
Alip

[2022-09-17 11:35] #474 closed

[2022-09-19 03:06] brandonheng168 commented on #471
@joinimran I have Jira in the cloud account and it is not working. also Even I upgrade to V1.20.0, nothing is working at all.

[2022-09-19 03:10] brandonheng168 commented on #471
@joinimran Here how your jira is not working
![Screenshot from 2022-09-19 10-07-29](https://user-images.githubusercontent.com/61530439/190943907-e7908a6f-3fca-4cff-8e63-1077713bc25a.png)

[2022-09-19 03:11] brandonheng168 commented on #471
@joinimran I have tried to create so many ticket but none can be created.

[2022-10-13 04:22] hoangthanh283 opened #478 "How to know a textline belongs to which page in a docx file"
## Description
Is there any way to know a text line belongs to which page in a .docx file?

## Expected Behavior
We should have an attribute in a text Item to get the page information:
[code]

## Actual Behavior
There is only `Text`, `DrawingInfo`, `Paragraph`, `Hyperlink`, `TableInfo` BUT no `PageInfo` in the `TextItem`.

Please include a reproducible code snippet or document attachment that
demo

[2022-11-02 02:09] hoangthanh283 opened #479 "Could not extract information (text, table, image, ...etc) from a .doc file"
## Description
* I tried the [text-extraction example](https://github.com/unidoc/unioffice-examples/tree/master/document/text_extraction) with a .doc file that is converted from the [document.docx](https://github.com/unidoc/unioffice-examples/blob/master/document/text_extraction/document.docx) (I attached my input document below), but I couldn't get any information from the file.

## Expected Beha

[2022-11-02 05:50] sampila commented on #479
Hi @hoangthanh283,

We only support the DOCX file for Microsoft Word file.

[2022-11-02 05:50] #479 closed

[2022-11-07 19:44] Gordy96 opened #480 "License error text is confusing"
## Description
When given a wrong customer name on license bootstrap error message has expected and actual values switched places which causes more confusion during debug
## Expected Behavior
Error message to say `customer name mismatch, expected 'EXPECTED', but got 'ACTUAL'`
## Actual Behavior
Error message to say `customer name mismatch, expected 'ACTUAL', but got 'EXPECTED'`

You need switch `c

[2022-11-07 20:17] sampila commented on #480
Hi @Gordy96,

Could you tell us the detail about what operations that you are trying to do or share the code snippet with us?
Here's the example for loading licenses:
- Offline license [https://github.com/unidoc/unioffice-examples/blob/master/license/offline/main.go](https://github.com/unidoc/unioffice-examples/blob/master/license/offline/main.go)
- Metered license [https://github.com/unidoc/uniof

[2022-11-08 08:58] Gordy96 commented on #480
Hi @sampila, the offline one, I believe
[code]
I had an error that said `customer name mismatch, expected 'blahblah\n', but got 'blahblah'`
Then I thought maybe something wrong on the actual key and added `\n` to it and error became `customer name mismatch, expected 'blahblah\n\n', but got 'blahblah'`. Which concludes that there already was extra `\n` in the first place and error message misled me

[2022-11-08 10:32] sampila commented on #480
Hi @Gordy96 thank you for reporting this.
We will do fix on that error message.

As for now, are you able to load the license and use UniOffice?

[2022-11-08 11:20] Gordy96 commented on #480
Yes all's good now

[2022-11-08 11:34] sampila commented on #480
Thank you for the confirmation.
We closing this issue now.

[2022-11-08 11:34] #480 closed